.profileimage {
    /*border-radius: 50%;*/
    box-shadow: 0 7px 10px #999;
    height: 200px;
    margin: auto;
    padding: 7px;
    width: 200px;
    object-fit: cover;
}
   .card.text-white.bg-flat-color-1 {
    transition: .9s ease;
    box-shadow: 0px 0px 20px #ffffff;
}
   .card.text-white.bg-flat-color-2 {
    transition: .9s ease;
    box-shadow: 0px 0px 20px #ffffff;
}
   .card.text-white.bg-flat-color-3 {
    transition: .9s ease;
    box-shadow: 0px 0px 20px #ffffff;
}
   .card.text-white.bg-flat-color-4 {
    transition: .9s ease;
   box-shadow: 0px 0px 20px #ffffff;
}
/*input[type="file"] {
    width: 100%;
  overflow:hidden;
}*/
input[type="file"] {
    position: absolute;
    bottom: -25px;
    left: 14px;
    background-color: #f27e31;
    width: 202px;
    color: #fff;
    box-shadow: 0px 1px 14px #00000073;
    overflow:hidden;
    font-size:13px;
}
 .bg-flat-color-1:hover {
   -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index:999;
    box-shadow: 0px 0px 20px #727070!important;
    
}
.bg-flat-color-2:hover {
   -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index:999;
    box-shadow: 0px 0px 20px #727070!important;
}
.bg-flat-color-3:hover {
   -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index:999;
    box-shadow: 0px 0px 20px #727070!important;
}
.bg-flat-color-4:hover {
   -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index:999;
    box-shadow: 0px 0px 20px #727070!important;
}
.cart {border:none;}
/*tr:hover {
    background: #e7e7e7;
}*/

.media.Packag_sec img {
     transition:.5s ease;
     z-index:0;
}
.media.Packag_sec img:hover {
     -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index:999;
}


label.error {
    width: 100% !important;
    margin-left: 32%;
    color: red;
}
.editprofile {
    float: right;
    font-size: 13px;
    width: auto;
    background: #3399cc;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.editprofile:hover, .editprofile:active, .editprofile:focus {color:#fff;text-decoration:none;}
.profile-content {
    background: #eee none repeat scroll 0 0; padding: 60px 0;
}
.profileleft {
    background: #fff none repeat scroll 0 0;
    box-shadow:0 0 7px #bbbbbb;
    padding: 20px;
	 border-top: 3px solid #6f88a2;
}
.profileimg {
    text-align: center;
}
.profileimg img{  background: #fff none repeat scroll 0 0;
    border: 2px solid #dedede;
    border-radius: 50%;
    box-shadow: 0 7px 10px #999;
    height: 200px;
    margin: auto;
    padding: 7px;
    width: 200px;
    object-fit: cover;
}
	.profileinfo > h1 {
    border-bottom: 1px solid #eee;
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 12px;
    padding-bottom: 10px;
    text-align: left;
    
}
.profilesocialicons {
    padding-top: 10px;
}
.profilesocialicons i {
    align-items: center;
    background: #6f88a2 none repeat scroll 0 0;
    border-radius: 41px;
    color: #fff;
    font-size: 17px;
    height: 30px;
    margin: 0 4px;
    padding: 5px 8px;
    text-align: center;
    width: 30px;
}
.proleft {
    padding: 0;
}
.proright {
    padding-right: 0;
}
.profileright {
    background: #fff none repeat scroll 0 0;
    box-shadow:0 0 7px #bbbbbb;
    padding: 20px;
	 border-top: 3px solid #6f88a2; float: left;width:100%;
}
.profiledet-content h3 {
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 0;
}
.profileinfo-details img {
    margin-right: 15px;
    width: 20px;
}
.profileinfo-details > h1 {
 border-bottom: 1px dashed #dddddd;
    color: #f94a23;
    font-family: Montserrat SemiBold;
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.profileinfo-details {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
.bussiness label {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}
.adminbssiness {
    border-radius: 0px !important;
    padding: 10px 10px;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    height: 40px !important;
    color: #555555;
    font-size: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}