.about-color{
    background-color: #fff;
}
.jumbotron {
    padding: 0px!important;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: .3rem;
    margin-top: 80px;
    margin-bottom: 80px!important;
}
.message-clr p {
    color: #808080;
    font-size: 18px;
    position: relative;
    margin-left: 26px;
}
.message-clr p:before {
    content: "\201C";
    font-size: 50px;
    line-height: 0px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -27px;
}
.about-color p {
    font-size: 18px;
    color: #808080;
    font-weight: 300;
}
.about-color h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.message-clr h2 {
    color: #f7cc63;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.mission {
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    padding: 80px 0px;
}
.mission h3:before {
    content: '\2212';
    color: #25f99b;
    margin-right: 15px;
}
.mission h3 {
    font-size: 30px;
    color: #464646;
    margin-bottom: 35px;
}
img.media-object {
    border: 5px solid #fff;
    width: 100%;
    box-shadow: 0px 0px 20px #ccc;
}
.mission p {
    color: #808080;
    font-size: 16px;
}
.row.about-cta {
    align-items: center;
}
.pstyle {
    margin-left: 15px;
    margin-top: 11px;
}
.message-clr h2:before {
    content: '\2212';
    margin-right: 10px;
}
.jumbotron.about-color h2:before {
    content: '\2212';
    color: #25f99b;
    margin-right:15px;
}
h6.about-sign {
    font-size: 32px;
    font-family: 'Charmonman', cursive;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    margin-left: 24px;
}
.col-sm-6.about-cta-mar {
    margin-top: 30px;
}
.Travel_exp_head {
    background-image: url("../images/about-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header_text {
    padding: 170px 0px;
}
.header_text h1 {
    color: #fff;
    font-weight: 600;
}
.header_text h1:before {
    content: '\2212';
    color: #25f99b;
    margin-right: 15px;
}
.header_overlay {
    background: rgba(0,0,0,.3);
}
.thumbnail {
    background-image: url(images/about-about-img.jpg);
    background-size: cover;
    background-position: center;
}
.col-sm-3.thumbnail {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:767px) {
     img.aboutimg {width: auto;}
     .thumbnail {border:none;}
}
@media only screen and (max-width: 575px) {
.jumbotron {margin-top: 50px;margin-bottom: 50px!important;}
img.aboutimg {margin-bottom: 30px;}
.row.about-cta.about-chairman {margin-bottom: 50px;}
.mission {padding: 50px 0px;}
.row.about-cta {margin-bottom: 0px;}
img.media-object {margin-bottom: 20px;}
.col-sm-6.about-cta-mar {margin-top: 0px;}
}

@media only screen and (max-width: 425px) {
.about-color p {font-size: 16px;}
.about-color h2 {font-size: 30px;}
.message-clr p {font-size: 16px;}
}