.welocme-msg h2, .Frequent-Jobs h2, .getintouch h2, .your-account h2 {
    font-size: 20px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
}
.cut-dash-inner .welocme-msg p, .recent-job p{
    font-size: 16px;
    color: #666666;
    padding: 5px 0 20px;
}
#cancelled_btn, #feedback__btn {
    font-size: 12px;
    padding: 4px 2px;
    width: 100%;
}
.inprogress_btn_sec {
    margin-bottom: 2px;
}
/*tr.headings th {
    width: 20%;
}*/
.cut-dash-inner .welocme-msg button, .recent-job button, button.swe-btn, .custom-profile .sve-btn {
    font-size: 13px;
    /*height: 50px;*/
    width: auto;
    background: #3399cc;
    color: #fff;
    border: none;
    padding:7px 10px;
    border-radius: 5px;
   
    font-weight: bold;
}
button.swe-btn { margin-top:-6.5px;}
.cut-dash-inner .welocme-msg p.welcome-text {
    font-size: 18px;
    color: #333333;
    padding: 0;
    text-align: right;
    font-family: "ProximaNova-Semibold";
}
.cut-dash-inner .welocme-msg {
    background: #fff;
    margin: 0;
    padding: 20px 15px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}
.Frequent-Jobs {
    background: #fff;
    margin: 0;
    padding: 15px;
    margin-top: 25px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}
.cut-dash-inner .left-ser h5 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}
.cut-dash-inner .left-ser  h2 {
    font-size: 26px;
    font-family: "ProximaNova-Semibold";
    color: #ffffff;
}
.cut-dash-inner .left-ser  h2 span {
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'ProximaNovaA-Regular';
}
.cut-dash-inner .left-ser {
    display: inline-block;
    width: 60%;
    float: left;
    vertical-align: text-bottom;
    padding: 20px 10px;
    border-radius: 3px 0px 0px 3px;
}
.cut-dash-inner .right-ser {
    display: inline-block;
    width: 40%;
    vertical-align: text-bottom;
    padding: 20px 10px;
    border-radius: 0 3px 3px 0;
}
.cut-dash-inner .ser-col1 .left-ser{
	background: #ff6699;
}
.cut-dash-inner .ser-col2 .left-ser{
	background: #7c79b6;
}
.cut-dash-inner .ser-col3 .left-ser{
	background: #45b6e0;
}
.cut-dash-inner .ser-col4 .left-ser{
	background: #57c386;
}
.cut-dash-inner .ser-col5 .left-ser{
	background: #33cccc;
}
.cut-dash-inner .ser-col6 .left-ser{
	background: #cc99cc;
}
.cut-dash-inner .ser-col7 .left-ser{
	background: #ff6666;
}
.cut-dash-inner .ser-col8 .left-ser{
	background: #ff9966;
}

.cut-dash-inner .ser-col1 .right-ser {
    background: #f280a0;
}
.cut-dash-inner .ser-col2 .right-ser {
    background: #9694c5;
}
.cut-dash-inner .ser-col3 .right-ser {
    background: #6ac5e6;
}
.cut-dash-inner .ser-col4 .right-ser {
    background: #37a567;
}
.cut-dash-inner .ser-col5 .right-ser {
    background: #66cccc;
}
.cut-dash-inner .ser-col6 .right-ser {
    background: #ff99ff;
}
.cut-dash-inner .ser-col7 .right-ser {
    background: #ff9999;
}
.cut-dash-inner .ser-col8 .right-ser {
    background: #ffcc99;
}
.cut-dash-inner .ser-col1, .ser-col2, .ser-col3, .ser-col4, .ser-col5 , .ser-col6, .ser-col7, .ser-col8 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.cut-dash-inner .right-ser img {
    width: 60px;
}
.cut-dash-inner .dash-services{
	margin: 0;
	margin-top:25px; 
}
.cut-dash-inner .dash-services .col1 {
    padding: 0 10px 0 0;
}
.dash-services .col1:nth-child(4n) {
    padding-right: 0;
}
.cut-dash-inner .getintouch h2 {
    background: #eeeeee;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(218, 214, 214, 0.64);
    border-top: 1px solid rgba(218, 214, 214, 0.2);
    border-left: 1px solid rgba(218, 214, 214, 0.2);
    border-right: 1px solid rgba(218, 214, 214, 0.2);
}
.cut-dash-inner .getintouch ul{
	padding: 0;
	margin: 0;
}
.cut-dash-inner .getintouch li {
    font-size: 16px;
    color: #666666;
    padding: 8px 20px;
    list-style: none;
}
.cut-dash-inner .get-touch, .recent-job {
    background: #ffffff;
    border: 1px solid #e4e4e4;
    margin-top: 25px;
    min-height: 200px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}
.recent-job p, .recent-job button{
margin-left: 20px;
}
.Sweepers-detail h5 {
    font-size: 18px;
    color: #666666;
    font-family: "ProximaNova-Semibold";
    margin-bottom: 10px;
}
.Sweepers-detail h4, .Sweepers-detail p {
    font-size: 15px;
    color: #666666;
    margin-top: 10px;
}
.Sweepers-detail p {
	padding-top: 15px;
}
.Sweepers-detail h4 span{
	color: #999999;
}
.Sweepers-detail h4 .fa{
	margin-right: 10px;
	color: #000000;
}
span.rating-text {
    color: #687db5;
    font-size: 13px;
    margin-left: 10px;
}
.sweep-image {
    float: left;
    display: inline-block;
}
.sweep-content {
    overflow: hidden;
    padding-left: 25px;
}
.Sweepers-detail {
    background: #fff;
    margin: 0;
    padding: 15px;
    margin-top: 25px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}
.your-account li strong {
    font-size: 15px;
    color: #333333;
}
.your-account ul {
	margin-top: 20px;
}
.your-account li {
    font-size: 15px;
    color: #666666;
    list-style: none;
}
.your-account li:last-child {
	margin-top: 25px;
}
.your-account {
    background: #ffffff;
    padding: 0px;
    margin-top: 25px;
}
.Sweepers-row button.swe-btn {
    margin-top: 20px;
}
.sweep-btn {
    text-align: right;
}

.custom-profile h3 {
    font-size: 23px;
    color: #333333;
    font-family: "ProximaNova-Semibold";
    margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.user-info.custom-profile {
    padding: 25px 25px!important;
}
.pro-myaccount h2 {
    font-size: 20px;
    color: #fff;
    font-family: "ProximaNova-Semibold";
}
.pro-myaccount li {
	font-size: 13px;
	color: #ffffff;
	list-style: none;
	padding: 5px 0;
}
.pro-myaccount ul {
	margin-top: 10px;
}
.pro-myaccount {
    background: #3399cc;
    padding: 20px 15px;
    margin-top: 25px;
    min-height: 350px;
}
.user-info.custom-profile {
    padding: 25px 15px;
    margin-top: 25px;
    border: 1px solid #e4e4e4;
}
.bank_account.sweep-add .add-acct {
   float: left;
    width: 100%;
}
.sweep-add .add-acct .account-btn {
    margin-top: 20px ;
}
.bank-detail p a {
    color: #1aa3df;
    text-decoration: none;
}
a.adcrd {
    font-size: 16px;
    color: #141414;
    font-style: italic;
    text-decoration: underline;
}
.share_workers.share-sweep1 .customer-price {
    background: #1aa3df;
    padding: 20px;
}
.share-sweep1 .customer-price  p.wrk-p{
	margin-bottom: 0;
}
.share_workers.share-sweep1 .paid-text button {
    background: #003d58;
   border: none;
}
.share-sweep1 .customer-price {
    margin-top: 25px;
}
.share_workers.share-sweep1 .invite-box {
    padding: 15px 25px 50px 25px;
}
.share_workers.share-sweep1 .paid-text {
    margin-bottom: 40px;
}
.share_workers.share-sweep1 .referral-program {
    margin: 0 -35px;
    margin-bottom: -55px;
    margin-top: 60px;
}
.print-file.yelp-img img {
    margin-top: 16px;
}
.recipient-info {
    background: url(../images/gift-bck.jpg);
}
.customer-gift h3, .recipient-info h3 {
    font-size: 23px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
}
.customer-gift p {
    font-size: 17px;
    color: #5c5c5c;
}
.recipient-info p {
    font-size: 17px;
    color: #ffffff;
    padding: 20px 0 40px;
}
.recipient-info {
    background: url(../images/gift-bck.jpg);
    display: inline-block;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.recipient-info label {
    font-size: 17px;
    color: #fff;
}
.recipient-info input{
    font-size: 15px;
    color: #8b8b8b;
    height: 50px;
}
.recipient-info .form-group {
    margin-bottom: 20px;
}
.customer-gift {
    background: #fff;
    display:block;
    padding: 35px 30px;
    margin-top: 25px;
}
.recipient-info label.checkbox-inline {
    color: #31baff;
    font-size: 17px;
}
.recipient-info .form-group.checkbx-group {
    padding-top: 42px;
}
.recipient-info label.checkbox-inline input {
    height: unset;
    margin-left: 10px;
}
.recipient-info button.purchase-btn, .pst-newjb {
    background: #3399cc;
    padding: 7px 12px;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    /* margin-top: 40px; */
}
/*.table.history-table>tbody>tr>td, .table.history-table>tbody>tr>th, .table.history-table>tfoot>tr>td, .table.history-table>tfoot>tr>th, .table.history-table>thead>tr>td, .table.history-table>thead>tr>th{
    border: none;
    padding:15px 0px 15px 20px;
}*/
/*.table.history-table>thead>tr>th:first-child, .table.history-table>thead>tr>th:last-child{
    width: 200px;
}*/
/*.table.history-table>tbody>tr>td{
    font-size: 17px;
    color: #666666;
}*/
/*.table.history-table>thead>tr>th{
    font-size: 18px;
    font-family: "ProximaNova-Semibold";
}*/
.job-history .pro-heading {
    background: #fff;
    margin: 0px 0px 20px 0px;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}
.job-history .pro-head h3{
    font-size: 20px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
    padding: 22px 15px;
}
.job-history  button.pst-newjb {
    float: right;
    margin-top:-4px;
}
.dash-services a {
    text-decoration: none;
}
a.cutmer-dash-tog {
    display: none;
}
@media screen and (min-width: 1600px){
.cut-dash-inner .left-ser {
    padding: 20px 25px;
}
}
@media screen and (max-width: 1199px){
.cut-dash-inner .right-ser {
    padding: 20px 0px;
}
.sweep-content {
    padding: 0 15px;
}
.table.history-table>thead>tr>th:first-child, .table.history-table>thead>tr>th:last-child {
    width: auto;
}
.table.history-table>thead>tr>th, .table.history-table>tbody>tr>td {
    font-size: 12px;
}
.job-history button.pst-newjb {
   /* margin-bottom: 20px;
    margin-top: 20px;*/
}
}
 

@media screen and (max-width: 1024px) and (min-width: 990px) {
    .tab-section ul li a {
    font-size: 14px!important;
    padding: 25px 10px;
    }
    .welocme-msg h2, .Frequent-Jobs h2, .getintouch h2, .your-account h2 {
    font-size: 18px;}
.cut-dash-inner .welocme-msg button, .recent-job button, button.swe-btn, .custom-profile .sve-btn {
    font-size: 13px;}
    button.swe-btn {margin-top: -6px;}
    .cut-dash-inner .welocme-msg p.welcome-text {font-size: 20px;}
    .header_left h3 {font-size: 21px;}
    }
@media screen and (max-width: 991px){
    a.cutmer-dash-tog {
    position: absolute;
    top: -20px;
    right: -50px;
    display: block;
}
div#nav-div1 {
    display: none;
}
.nav-toggle button {
    display: none;
}
section.dashboard_header {
    border-bottom: 1px solid #ccc;
}
a.cutmer-dash-tog i.fa.fa-bars {
    background-color: #e74c3c;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
}
.welocme-msg h2, .Frequent-Jobs h2, .getintouch h2, .your-account h2 {
    font-size: 18px;
}
.cut-dash-inner .welocme-msg p.welcome-text {
    font-size: 21px;
}
.header_left h3 {
    font-size: 18px;
    padding: 40px 0;
}
.col-md-3.sidebar-left.nopadding {
    width: 100%;
}
.event-box .btn-group-lg>.btn, .btn-lg {
    font-size: 13px;
}
.dash-services .col1:nth-child(4n) {
    padding-right: 10px;
}
.recipient-info .form-group.checkbx-group {
    padding-top: 0;
}
.recipient-info button.purchase-btn {
    margin-top: 10px;
}
.recipient-info {
    padding: 20px;
}
.recipient-info p {
    padding: 15px 0;
}
.customer-gift {
    padding: 20px;
}
.col-sm-9.dashboard-right {
    width: 100%;
}
}
@media screen and (max-width: 769px) and (min-width: 768px) {
.col-sm-4.col-xs-12.header_left {
    width: 18.333333%;
}
.col-sm-8.col-xs-9.header_right.text-right {
    width: 75.666667%;
}
.header_left h3 {
    font-size: 14px;
    padding: 34px 0;
}
button.swe-btn {
    margin-top: -6px;
}
.cut-dash-inner .welocme-msg button, .recent-job button, button.swe-btn, .custom-profile .sve-btn {
    font-size: 13px;}
    }

@media screen and (max-width: 768px){
    button.swe-btn {
        margin-top: -6px;
    }
    .cut-dash-inner .welocme-msg button, .recent-job button, button.swe-btn, .custom-profile .sve-btn {
        font-size: 13px;}
}
@media screen and (max-width: 767px){
    #cancelled_btn, #feedback__btn {
    font-size: 12px;
    padding: 4px 20px;
    width: auto;
}
    .dashboardright {
    padding: 10px 0px 0px 0px!important;
}
.header_right {
    text-align: center;
    width: 100%;
}
.header_left h3 {
    font-size: 18px;
    padding: 10px 0px;
}
.cut-dash-inner .welocme-msg p.welcome-text {
    font-size: 18px;
    margin-top: 5px;
    text-align: left;
}
.cut-dash-inner .welocme-msg h2, .Frequent-Jobs h2, .getintouch h2, .your-account h2 {
    font-size: 20px;
}	
.sweep-image img {
    width: 50px;
}
.sweep-content {
    padding-left: 15px;
}
.cut-dash-inner .dash-services .col1 {
    padding: 0;
}
.bank_account .add-acct .form-group p {
   padding-top: 0;
}
.sweep-add .add-acct .account-btn {
    margin-top: 0;
}
.share_workers.share-sweep1 .invite-box {
    padding: 15px;
}
.inner-prog1, .inner-prog2, .inner-prog3 {
    margin-bottom: 10px;
}
.recipient-info {
    padding: 15px 0;
}
.recipient-info p {
    font-size: 15px;
    padding: 10px 0;
}
.recipient-info label.checkbox-inline input {
    margin-left: 0;
}
.recipient-info label.checkbox-inline {
    font-size: 15px;
    padding: 0;
}
.customer-gift {
    padding: 15px;
}
.customer-gift p {
    font-size: 15px
}
.customer-gift h3, .recipient-info h3 {
    font-size: 21px;
}
}
@media screen and (max-width: 480px){
    .cut-dash-inner .welocme-msg p.welcome-text {
    font-size: 20px;}
    .custom-profile h3 {
    text-align: center;
}
    a.cutmer-dash-tog {
    top: -45px;
    right: -40px;
}
.custdshbrd a {
    margin-right: 0px;
}
.sweep-image {
    display: block;
    width: 100%;
    text-align: center;
}
.Sweepers-detail {
    padding: 10px;
}
.sweep-content {
    padding-left: 0;
    width: 100%;
}
}
@media screen and (max-width: 375px){
.header_right {
    padding: 0px;
}
.col-sm-12.ma-hu {padding:0px;}
a.cutmer-dash-tog {
    top: 25px;
    right: 0px;
}
/*.header_left h3 {
    text-align: left;
}*/
}
@media screen and (max-width: 360px){
/*.recent-job p, .recent-job button {
    margin-left: 0px;
}*/
}
@media screen and (max-width: 320px){
    .cut-dash-inner .welocme-msg h2, .Frequent-Jobs h2, .getintouch h2, .your-account h2 {
    font-size: 15px;
}
.cut-dash-inner .welocme-msg button, .recent-job button, button.swe-btn, .custom-profile .sve-btn {
    font-size: 12px;
}
.notification {
    margin-right: 0px;
    top: 0px;
}
.event-box .btn-group-lg>.btn, .btn-lg {
    padding: 6px 4px;}
}
/*********** Cheshta on 31 july *******/
.recent-job-head {
    background: #f5f5f5;
}
.recent_jobs li {
    list-style: disc !important;
}
.recent_jobs ul {
    padding: 0px 35px !important;
}
/***********/
.form-group {overflow: hidden!important;}
.btn-default {
    color: #fff!important;
    background-color: #39c!important;
    border-color: #39c!important;
}
.btn-default:hover {
    color: #fff!important;
    background-color: #39c!important;
    border-color: #39c!important;
    box-shadow: 0px 0px 20px #ccc;
}
img#profileimg {
    border: 3px solid #fff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 11px #000000;
}


/*****************21-jan-2019***************************/

.logodiv a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    outline: none;
}

.col-sm-3.logodiv {width:20%;}
.col-sm-9.dashboard_rgtheader {width: 80%;}
#nav-div1 {width: 20%;}
.col-md-9.dashboard-right {width: 80%;}
.nav-sidebar {margin-top: 30px;}

@media screen and (max-width:991px) {
    .col-md-9.dashboard-right {width: 100%;}
    #nav-div1 {width: 100% !important;}
}
@media screen and (max-width:870px) {
.custdshbrd a {margin-right: 5px;}
.notification {margin-right: 5px;}
}
@media screen and (max-width:767px) {
    .col-sm-9.dashboard_rgtheader {width: 100%;}
    .col-sm-3.logodiv {width: 25%;margin: 0 auto;}
    .dashboardright {text-align: center;}
    .col-sm-12.ma-hu {padding: 0px;}
    .col-sm-8.col-xs-9.header_right.text-right {padding: 0px;}
    .dropdown.prflimgdiv.last-client {position: absolute;right: -5px;top: 5px;}
    .cutmer-dash-tog {top: 0px !important;right: 0px !important;}
    .logodiv a {height: auto;}

}

@media screen and (max-width:480px) {
    .notification {margin-right: 0px;}
    .dashboardright li {padding-right: 5px;}
    .cutmer-dash-tog i.fa.fa-bars {font-size: 16px;height: 30px;width: 30px;line-height: 30px;}
    .dashboardright {padding: 10px 0px 0px 0px!important;}
    .col-sm-3.logodiv {width: 40%;margin: 0 auto;}
    .dropdown.prflimgdiv.last-client {position: absolute;right: -5px;top: -32px;}
    .logodiv img {height: 50px;padding:10px 0px;}
}
@media screen and (max-width:375px) {
    .custdshbrd a {margin-right: 0px;font-size: 10px;padding: 6px 2px;}
    .profilpic {border-radius: 50px;height: 30px;width: 30px;}
    li.notification img {width: 75%;}
    .dashboardright li {padding-right: 0px;}
    .counter {border-radius: 50%;font-size: 12px;height: 16px;width: 16px;}
}
@media screen and (max-width:360px) {

}
.your-account h2 {
    background: #eeeeee;
    padding: 12px 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-bottom: 1px solid rgba(218, 214, 214, 0.64);
    border-top: 1px solid rgba(218, 214, 214, 0.2);
    border-left: 1px solid rgba(218, 214, 214, 0.2);
    border-right: 1px solid rgba(218, 214, 214, 0.2);
}
.your-account ul {
    padding: 0px 15px 20px 15px;
}
.support-chat i {
    font-size: 15px;
    /*color: #337ab7;*/
}
.alert {
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}
