/**new-css-start**/



section.dashboard_header {
    background: #e5f1f6 none repeat scroll 0 0;
    height: 100px;
}
.logodiv img {
    padding: 20px 0;
}
a.cutmer-dash-tog {
    display: none;
}
.dashboard_rgtheader {
    background: #fff none repeat scroll 0 0;
    box-shadow: 3px 0 3px 0 #c2c2c2;
    height: 100px;
}
.header_left h3 {
    color: #1aa3df;
    font-family: ProximaNova-Semibold;
    font-size: 23px;
    padding: 35px 0;
}
.dashboardright li {
    display: inline;
    position: relative;
}
.notification i {
    color: #525252;
    font-size: 24px;
}
.counter {
    background: #f2711a none repeat scroll 0 0;
    border-radius: 28px;
    color: #fff;
    font-size: 14px;
    height: 20px;
    margin-left: -15px;
    padding: 0 4px;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 20px;
    right: 0px;
}
.notification {
    margin-right: 20px;top:0px;
}
.profilpic {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
.dashboardright {
    padding: 30px 30px;
}
.prflimgdiv i {
    color: #000;
    font-size: 18px;
}
.dashboardright li a:hover{text-decoration: none;}
.dashboard_nav > ul {
    background: #32363f none repeat scroll 0 0;
    list-style: outside none none;
    padding: 0;
}
.dashboard_nav a {
    color: #fff;
    font-size: 16px;
}
.dashboard_nav li i {
    font-size: 25px;
    width: 30px;
}
.dashboard_nav li {
    padding: 20px 25px;
}
.dashboard_nav{background:#32363F;}
.dashboard_nav button {
    background: black none repeat scroll 0 0;
    border-radius: 0;
}
.dashboard_contentarea {
    background: #e5f1f6 none repeat scroll 0 0;
}
.rightcontent p {
    background: #fff none repeat scroll 0 0;
    box-shadow: -1px 0 1px 0 #dbdbdb;
    color: #666666;
    font-family: ProximaNova-Semibold;
    font-size: 15px;
    margin: 20px 0;
    padding: 15px 20px;
}
.tab-section ul li a {
    background: #fff none repeat scroll 0 0;
    color: #26a9e2;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    margin: 0;border:0px;
    padding: 25px 20px;float: left;text-align: center;
}
.tab-section .nav.nav-tabs {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 2px 0 0 #dbdbdb;
}
.tab-section .nav-tabs li.active a{border: 0px;background: #26a9e2;color:#fff;border-radius: 0px;}
.tab-section .nav-tabs li a:focus{outline:0px;}
.tab-section .nav-tabs li a:hover{background: #26a9e2;color:#fff;border-radius: 0px;}
.tab-section .nav-tabs li{margin: 0px;}
.tab-section .nav-tabs span {
    float: left;
    text-align: center;
    width: 100%;
}
.row.page-row {
    display: flex;
    flex-wrap: wrap;
}
.tab_contentarea h1 {
    color: #252525;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    margin: 15px 0 15px;
}
a:focus {
    color: #23527c;
}
/**media-query-start**/

@media (max-width:1500px) {
  .tab-section ul li a {
    font-size: 17px;
    padding: 25px 10px;
}
}

@media screen and (max-width: 1024px) and (min-width: 990px) {
    .tab-section ul li a {
    font-size: 14px!important;
    padding: 25px 10px;
    }
    table.table-striped tr.headings th {
    font-size: 12px;
    color: #444444;
    padding: 8px;
}
table.table-striped td.column1 {
    font-size: 15px;
    }
table.table-striped a.view-table {
    width: 110px;
    padding: 5px;
}
}

@media screen and (max-width: 980px) {
.become-cont {padding: 30px 30px;}
.become-cont {min-height: auto;}
.col-md-3.sidebar-left.nopadding {
    width: 100%;
}
.col-md-9.dashboard-right {
    width: 100%;
}
   a.cutmer-dash-tog {
    position: absolute;
    top: -20px;
    right: -50px;
    display: block;
}
a.cutmer-dash-tog i.fa.fa-bars {
    background-color: #e74c3c;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
}
div#nav-div1 {
    display: none;
}
}
@media screen and (max-width: 980px) and (min-width: 768px) {
.row.user-info.profile-sec {
    display: flex;
    flex-wrap: wrap;
}
}
@media screen and (max-width: 769px) and (min-width: 768px) {
.custdshbrd a {
    margin-right: 5px;
}
.col-sm-4.col-xs-12.header_left {
    width: 18.333333%;
}
.col-sm-8.col-xs-9.header_right.text-right {
    width: 80.666667%;
}
.notification {
    margin-right: 0px;
}
.header_left h3 {
    font-size: 14px;
}
.tab-section ul li a {
    font-size: 13px;
}
table.table-striped tr.headings th {
    font-size: 12px;
    color: #666666;
    padding: 8px;
}
table.table-striped td.column1 {
    font-size: 14px;
}
table.table-striped a.view-table {
    padding: 6px;
    font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
.main-profile .user-info {text-align: center;}

}
@media (max-width:767px) {
    .col-xs-3.nav-toggle {
    display: none;
}
section.dashboard_header{height: auto;}
.header_left h3{text-align: center;}
.header_right {
    text-align: left;
}
.dashboard_rgtheader{height: auto;}
.dashboard_rgtheader {
    float: left;
    height: auto;
    width: 100%;
}
.header_left h3{padding: 15px 0px;}
.dashboardright{padding:10px 0px;}
.nav-toggle button {
    background: #23a8e2 none repeat scroll 0 0;
    border-radius: 0;
    margin: 10px 0;
}
.nav-toggle button .icon-bar{background: #fff;}
/*.dashboard_rgtheader{
   display: flex;
    flex-flow: column-reverse nowrap;
     display: -webkit-flex;
    -webkit-flex-flow: column-reverse nowrap;}
}*/
/**media-query-end**/


/**new-css-end**/
/*.dropdown-menu {
    min-width: 80px !important;
}*/
#save_info_work{
    display: inline-block;
    padding: 0 20px;
    height: 35px;
    background: #1aa4df;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
}
.perf-content .travel-bonus button.sve-btn, .cont-btn button {
    height: 35px;
    font-size: 15px;
}
.main-profile .pers-info button.apl-btn {font-size: 14px;}
}
@media screen and (max-width: 575px) {
.main-profile .pro-head h3 {text-align: center!important;}
img.img-responsive.wrk-proimg {margin: 0 auto!important;}
.col-sm-2.rating_logo_sec {width: 100%;}
.header_right {
    text-align: center;
    width: 100%;
}
.dashboardright {
    padding: 30px 0px 0px 0px!important;
}
}

@media screen and (max-width: 425px) {

.header_right {
    text-align: center;
    width: 100%;
    padding: 0px;
}
.custdshbrd a {
    margin-right: 0px;
}
.notification {
    margin-right: 0px;
    top: 0px;
}
.event-box .btn-group-lg>.btn, .btn-lg {
    padding: 6px 5px;
    font-size: 12px;
    text-transform: uppercase;
}
}
@media screen and (max-width: 375px) {

.header_left h3 {
    
    padding: 10px 0px;
    font-size: 18px;
}
a.cutmer-dash-tog {
    position: absolute;
    top: 25px;
    right: 0px;
    display: block;
}

}
@media screen and (max-width: 320px) {
.event-box .btn-group-lg>.btn, .btn-lg {
    padding: 6px 5px;
    font-size: 10px;
    text-transform: uppercase;
}
.col-sm-12.ma-hu {padding: 0px;}
}
/*17-01-19*/ 
.list-inline.copright-text li:nth-child(2) {
    color: #fff;
}




/**************************24-JAN-2019****************************************/
.nav-sidebar {
    margin-top: 30px;
}

