
@font-face {
  font-family:"proxima";
  src:url("../fonts/proxima-nova.otf");
}
@font-face {
  font-family:"proxima-bold";
  src:url("../fonts/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family:"proxima-semibold";
  src:url("../fonts/proxima-nova-semibold.otf");
}



/*new-css*/

/*universel-css*/



/*end-universel-css*/

/*footer {
    padding-top: 70px;
    background-color: #000000!important;
}*/
.pay_mathed1:hover a {
    color: #f3731f;
}
.banner_img {
    background-image: url(../images/pricing_page.jpg);
    background-size: cover;
    background-position: center;
    /*padding: 135px 0px;*/
    height:500px;
    /*transform:translateY(50%);*/

}
.text-prise {padding:135px 0px;}
.banner_img h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: "proxima-bold";
    display: block;
    color: #ffffff;
}
.banner_img span.Student_brk {
    font-family: "proxima-bold";
    display: block;
    color: #ff8638;
}
.banner_img p {
    font-size: 28px;
    font-family: "proxima-bold";
    color: #fff;
    font-weight: 500;
}
.ptag_brk {display:block;}
/*pricing_sec*/
.pricing_sec h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #1aa4df;
    font-family: "proxima-semibold";
}
.pricing_sec p {
    font-size: 17px;
    text-align: center;
    max-width: 800px;
    margin: 30px auto 45px;
    color: #808080;
    font-family: "proxima";
    font-weight: 300;
}
.pricing_sec label {
    font-size: 15px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: "proxima-semibold";
}
.pricing_sec select#sel1 {
    height: 40px;
}
.pricing_sec span.label_sec {
    color: #808080;
    font-weight: 300;
}
.pricing_sec {
    margin: 80px 0px;
    background-color: #ffffff;
}
.pricing_sec h3 {
    font-size: 34px;
    text-align: center;
    /* color: #1aa4df; */
    font-family: "proxima";
    font-weight: 300;
    padding: 35px 0px;
    color: #808080;
}
a.blue_btn {
    background-color: #19a3df;
    padding: 13px;
    color: #ffffff;
    font-family: "proxima-bold";
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}
/*Pricing_Cmpnt*/
.Pricing_Cmpnt {
    padding: 80px 0px;
    background-color: #e4f0f6;
}
.Pricing_Cmpnt h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: "proxima-semibold";
}
.Pricing_Cmpnt p.p-text {
    font-size: 17px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 95px;
    color: #808080;
    font-weight: 300;
    font-family: "proxima";
}
.gray_box h6 {
    font-size: 20px;
    text-align: center;
    font-family: "proxima-semibold";
    font-weight: 500;
    padding-bottom: 10px;   
    
}
.gray_box {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #cccccc2e;
    padding: 60px 20px;
    height: auto;
    margin: 0px 10px;
    width:100%;
}
.gray_box p {
    font-size: 15px;
    font-weight: 300;
    font-family: "proxima";
    text-align: left;
    color: #808080;
}

/*Pricing_Cmpnt*/
.paymt_faq {
    margin: 80px 0px;
}
.paymt_faq h2 {
    font-size: 40px;
    text-align: center;
    font-family: "proxima-semibold";
    font-weight: 700;
    color: #1aa4df;
}
.paymt_faq p.p_text {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #808080;
    font-family: "proxima";
}

.accodin_sec {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
 /*   height:155px;*/
    cursor: pointer;
}
.accodin_sec h6 {
    font-size: 16px;
    margin-bottom: 12px;
    font-family: "proxima-semibold";
    font-weight: 700;
}
.accodin_sec p {
    font-size: 15px;
    font-family: "proxima";
    font-weight: 300;
    color: #808080;
}

.pay_mathed i.fa.fa-phone {
    font-size: 23px;
    border: 1px solid;
    padding: 7px 9px;
    border-radius: 50%;
}
.pay_mathed i.fa.fa-envelope {
    font-size: 35px;
    color: #f3731f;
}
.pay_mathed1:hover {color: #f3731f;background-color: rgba(238, 238, 238, 0.5019607843137255);cursor: pointer;}
.pay_mathed i.fa.fa-home {
    font-size: 35px;
}
.pay_mathed h4.media-heading {
    font-family: "proxima-semibold";
    font-size: 16px;
    font-weight: 300;
    color:#808080;
}
.pay_mathed p {
    font-size: 16px;
    font-family: "proxima-semibold";
    font-weight: 600;
}
.pay_mathed p a {
    font-size: 16px;
    font-family: "proxima-semibold";
    font-weight: 600;
    text-decoration: none;
    color:#000;
}




.pay_mathed1 i.fa.fa-phone {
    font-size: 23px;
    border: 1px solid;
    padding: 7px 9px;
    border-radius: 50%;
}
.pay_mathed1 i.fa.fa-envelope {
    font-size: 35px;
}
.pay_mathed1 i.fa.fa-home {
    font-size: 35px;
}
.pay_mathed1 h4.media-heading {
    font-family: "proxima-semibold";
    font-size: 16px;
    font-weight: 300;
    color:#808080;
}
.pay_mathed1 p {
    font-size: 16px;
    font-family: "proxima-semibold";
    font-weight: 600;
}
.pay_mathed1 p a {
    font-size: 16px;
    font-family: "proxima-semibold";
    font-weight: 600;
    text-decoration: none;
    color:#000;
}
.gray_box img.img_sec {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translatex(-50%);
}
.address_sec {margin-bottom: 80px;}
.pay_mathed {
    padding: 30px 50px;
    background-color: rgba(238, 238, 238, 0.5019607843137255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pay_mathed1 {
    padding: 30px 50px;
    background-color: rgba(238, 238, 238, 0.5019607843137255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.media.pay_pal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-control {
  font-family: "proxima-semibold";
  cursor: pointer;
}
p.pluse_sin {
    font-size: 24px;
    font-weight: 900;
    margin-top: -6px;
    color: #202020;
}
.cen_btn {text-align: center;}
.same_flex {display: flex;}

@media only screen and (max-width: 1024px) {

.pay_mathed {padding: 30px 25px;}
.pay_mathed1 {padding: 30px 25px;}

}
@media only screen and (max-width: 980px) {

.banner_img h1 {font-size: 60px;}
.banner_img p {font-size: 23px;}
.pay_mathed p {font-size: 13px;}
.pay_mathed h4.media-heading {font-size: 12px;}
.pay_mathed1 p {font-size: 13px;}
.pay_mathed1 h4.media-heading {font-size: 12px;}

}
@media only screen and (max-width: 768px) {
.paymt_faq {margin: 50px 0px 20px 0px;}
.Pricing_Cmpnt {padding: 40px 0px 20px 0px;}
.pricing_sec {margin: 40px 0px;background-color: #ffffff;}
.same_flex {display: flex;flex-wrap: wrap;}
.gray_box{margin: 35px 10px;}
.Pricing_Cmpnt p.p-text {padding-bottom: 45px;}
.address_sec {margin-bottom: 30px;}
.banner_img h1 {font-size: 52px;}
}

@media only screen and (max-width: 600px){

.banner_img h1 {font-size: 50px;}
.ptag_brk {display: inline;}
}

@media only screen and (max-width: 600px){

.banner_img h1 {font-size: 40px;}
.pricing_sec h3 {font-size: 24px;}
.pricing_sec h2 {font-size: 34px;}
.Pricing_Cmpnt h2 {font-size: 34px;}
.paymt_faq h2 {font-size: 34px;}
.pricing_sec p {margin: 25px auto 45px;}
.Pricing_Cmpnt p.p-text {padding-top: 25px;}
.paymt_faq p.p_text {padding-top: 25px;}

}
@media only screen and (max-width: 375px){
.banner_img span.Student_brk {display: inline;}
}

@media only screen and (max-width: 320px){

.Pricing_Cmpnt h2 {font-size: 30px;}

}