* {font-family: 'Source Sans Pro', sans-serif;}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ProximaNovaA-Regular';
}
*, h1, h2, h3, h4, h5, h6, p, ul  li, a{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.paid-text #myTooltip {
    text-align: center;
    color: green;
}

@font-face {
  font-family: 'ProximaNovaA-Bold';
  src: url('../fonts/ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Bold.woff') format('woff'), url('../fonts/ProximaNovaA-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('../fonts/ProximaNovaA-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Regular.woff') format('woff'), url('../fonts/ProximaNovaA-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Regular.svg#ProximaNovaA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
header, footer, section{
  float: none;
  width: 100%;
  display: block;
}
header .navbar-default {
    margin: 0;
    z-index: 999;
}
.top-header ul li a {
    color: #666666;
    font-size: 16px;
    text-decoration: none;
}
.top-header ul li {
  border-right: 1px solid #d1d1d1;
  padding: 0 10px;
}
.top-header ul li:last-child {
  border-right: none;
}
.top-header .th-right li .fa {
    margin-right: 8px;
}
.top-header .th-left li img {
    margin-right: 10px;
}
.top-header .th-right ul li a:hover {
    color: #1ba4e0;
}
.top-header .th-right{
  text-align: right;
}
.top-header {
    padding: 10px 0;
}
header .navbar-default {
    background: transparent;
    border: none;
}
header .navbar-default .navbar-nav>li.post-job>a {
    font-size: 17px;
    background: #1ba4e0;
    color: #ffffff;
    border-radius: 5px;
}
header .navbar-default .navbar-nav>li.apply-work>a {
border: 1px solid #666666;
border-radius: 5px;
margin-left: 10px;
}
header .navbar-default .navbar-nav>li>a {
  font-size: 17px;
  color: #333333;
  transition:.5s ease;
  margin:5px;
}

header .navbar-default .navbar-nav>li.signin>a {
   color:#ff6633;
}
header .navbar-brand{
  padding: 0;
}
.slider button.post-btn, .get-started button.post-btn {
    font-size: 22px;
    color: #ff8638;
    border-radius: 25px;
    border: none;
    background: #fff;
    height: 50px;
    width: 170px;
    font-family: 'ProximaNovaA-Bold';
}
.slider button.apply-btn, .get-started button.apply-btn {
    background: #1ba4e0;
    height: 50px;
    width: 190px;
    border-radius: 25px;
    border: none;
    font-size: 22px;
    color: #fff;
    font-family: 'ProximaNovaA-Bold';
}
.banner_img h1 {max-width:780px;}
/*.text-prise {
    transform: translateY(50%);
}*/
.slider h1 {
    font-size: 70px;
    font-family: 'ProximaNovaA-Bold';
    line-height: 64px;
    max-width:780px;
    margin:0 auto;
}
.slider h1 span{
color:#ff8638;
}

.slider p {
    font-size: 28px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 40px;
}
.slider .carousel-caption {
    right: unset;
    left: 0%;
    padding-bottom: 0;
    top: 50%;
    transform: translate(0, -50%);
    bottom: unset;
    width: 100%;
    text-align: center;
}
.slider{
  position: relative;
}
.about h2 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.about h3 {
    font-size: 22px;
    color: #f3721f;
    margin-top: 25px;
    position: relative;
    padding-bottom: 10px;
}
.about h3::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background: #666666;
    bottom: 0;
}
.about h4 {
    font-size: 18px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.about p {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    padding-top: 40px;
}
.about {
    padding: 60px 0 85px 0;
}
.about .gaur-img {
    float: left;
}
.about .guar-text {
    overflow: hidden;
    padding-left: 10px;
}
.about .guar-text p {
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    padding-top: 10px;
}
.about .guar-text h6 {
    font-size: 19px;
    color: #333333;
    font-family: 'ProximaNovaA-Bold';
}
.about-btm {
    padding-top: 40px;
    border-top: 1px solid #dfdfdf;
    margin-top: 40px;
}
.services .row{
display: flex;
flex-wrap: wrap;
}
/*.services .tab-right{
background: url("../images/IMAGE_CLG.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
position: relative;
}*/
.services .tab-right p{
  position: absolute;
  bottom: 0;
  padding: 30px;
  color: #ffffff;
  font-size: 17px;
  line-height: 27px;
}
.services .tab-left a {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 40px;
    height: 74px;
    line-height: 74px;
}
.services .tab-left a img {
  margin-right: 20px;
  }
  .nopadding{
    padding: 0;
  }
  .services .tab-left li:nth-child(odd) {
    background: #ebf2f5;
}
 .services .tab-left li:nth-child(even) {
    background: #dde7eb;
}
.services h2, .services p{
  text-align: center;
}

.services h2{
  font-size: 45px;
  color:#1ca3dd;
  font-family: 'ProximaNova-Semibold';
}
.services h2 span{
    color:#f3721f;
}
.services .tab-left li.active a {
    background: #f17b30;
    color: #ffffff;
}
.services .tab-left li.active::after {
    position: absolute;
    top: 0;
    right: -37px;
    border-left: 37px solid #1ca3dd;
    border-top: 37px solid transparent;
    border-bottom: 37px solid transparent;
    content: "";
    z-index: 99;
}
.services .tab-left li {
  position: relative;
}
.services p.tp-service, p.hiw-tp {
    font-size: 17px;
    color: #666666;
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 40px;
    text-align: center;
}
.services p.tp-service::before, p.hiw-tp::before {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #666666;
    content: "";
    left: 50%;
    transform: translate(-50%, 0);
}
.howitwork{
  padding: 100px 0;
}
.howitwork h2 {
     font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}
.work-inner h3 {
    font-size: 24px;
    color: #ff6633;
    font-weight: 600;
    padding: 20px 0 25px;
     font-family: 'Raleway', sans-serif;
}
.work-inner p {
    color: #666666;
    font-size: 17px;
    line-height: 27px;
}
.get-started h2 {
    font-size: 40px;
    color: #f3721f;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.get-started {
    padding: 180px 0;
    background: url(../images/get-started.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.get-started p {
    font-size: 17px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}
.testimonial h3 {
    font-size: 13px;
    color: #666;
    text-transform: uppercase;
}
.testimonial h1 {
    font-size: 30px;
font-family: 'ProximaNovaA-Bold';
padding-bottom: 15px;
margin-bottom: 50px;
position: relative;
padding-top: 15px;
}
.testimonial h1::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 50px;
    background: #6258cc;
    bottom: 0;
}
.testimonial  p {
    font-size: 17px;
    line-height: 27px;
    color: #666;
}
.testimonial .author-info img {
    float: left;
    margin-right: 30px;
}
.testimonial .author-cont h4 {
    font-weight: 700;
    padding: 8px 0;
}
.testimonial .author-cont a {
    color: #666666;
    text-decoration: none;
}
.testimonial .author-cont {
    overflow: hidden;
}
.testimonial .author-info {
    display: inline-block;
    width: 70%;
}
.testimonial .quote {
    display: inline-block;
    vertical-align: top;
}
.testimonial .ath-main {
    margin-top: 40px;
}
.testimonial {
    padding: 100px 0;
    background: #f0f0f0;
}
.contact-us {
    background: url(../images/contact-bck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.contact-us h2 {
    font-size: 38px;
    color: #fff;
    text-align: center;
    font-family: 'ProximaNovaA-Bold';
}
.contact-us p{
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
}
.contact-us button {
    font-size: 20px;
    width: 190px;
    height: 55px;
    background: #0eb0f7;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-align: center;
    margin-top:30px;
}
.contact-inner input {
    height: 45px;
}
.contact-inner form {
    width: 60%;
    margin: 0 auto;
}
.other-info .oth-text h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.other-info .oth-text a {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    text-decoration: none;
}
.other-info .oth-text{
  overflow: hidden;

}
.other-info .fa {
    float: left;
    font-size: 33px;
    margin-right: 30px;
}
.oth-inner{
padding: 20px 39px;
cursor:pointer;
}
.oth-inner:hover {
    background: #f7f7f7;
}
.oth-inner:hover .fa{
  color: #f3731f;
}
.other-info {
    padding: 50px 0 30px 0px;
}
.contact-us {
    overflow: hidden;
}
.contact-us .form-group.col-md-6 {
    clear: initial!important;
}

footer h1 {
  color: #37b629;
  font-family: 'ProximaNova-Semibold';
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}
footer {
  background: rgba(0, 0, 0, 0) url("../images/footer-bck.jpg") no-repeat scroll 0 0 / cover ;
  padding-top: 70px;
}
footer h2 {
  color: #0eb0f7;
  font-family: 'ProximaNova-Semibold';
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}
footer h2::before {
  background: #f3731f;
  bottom: 0;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 35px;
}

footer .footer-address li{
  color: #ffffff;
  font-size: 15px;
  list-style: outside none none;
  padding: 5px 0;
}
footer .footer-address li a{
  color: #ffffff;
  text-decoration: none;
} 
footer .footer-address li .fa{
  margin-right: 15px;
  font-size: 20px;
}
footer .social-link a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
 }
footer .social-link > li {
  list-style: outside none none;
  padding: 5px 0;
}
footer .social-link .fa {
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin-right: 10px;
  text-align: center;
  width: 25px;
}
footer h3 {
  color: #ffffff;
  font-family: 'ProximaNova-Semibold';
  font-size: 16px;
  margin-bottom:10px;
  margin-top: 20px;
  text-transform: uppercase;
}
footer .site-links a {
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}
footer .site-links li {
  list-style: outside none none;
  padding: 7px 0;
}
footer .site-links li .fa {
  font-size: 18px;
  margin-right: 20px;
}
footer .news-links li {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
  list-style: outside none none;
  padding: 15px 0;
}
footer .news-links li a {
  color: #ec5445;
  text-decoration: none;
}
footer .footer-address {
  margin-top: 25px;
}
footer .insta-images li {
  display: inline-block;
  float: left;
  list-style: outside none none;
  margin-bottom: 5px;
  width: 33.33%;
  padding: 2px;
}
footer .insta-images {
  margin-top: 34px;
}
footer .copyright-section h2 {
  color: #f3731f;
  display: inline;
  float: left;
  font-size: 22px;
  margin: 0 30px 0 0;
  padding: 16px 0;
}
footer .copyright-section h2::before {
  background-color: transparent;
}
footer .copright-text li {
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15px;
  line-height: 14px;
  padding-right: 15px;
}
footer  .copright-text li:last-child, footer  .copright-text li a {
  color: #f3731f;
  padding-right: 0;
  border: none;
   padding-left: 15px;
 }
footer .copyright-section p {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}
footer .copright-text {
  padding-top: 10px;
}
footer .copyright-section {
  border-top: 1px solid #4e4d4e;
  padding: 20px 0;
  margin-top: 30px;
}

footer .social-link li:hover .fa {
  border-color: #ec5445;
}
footer h2 span {
    color: #e56e1f;
}
.carousel-indicators {
    display: none;
}
.services .tab-left li.active a img.white {
    display: inline-block;
}
.services .tab-left li.active a img.blue {
    display: none;
}
.services .tab-left li a img.white {
    display: none;
}
.services .tab-left li a img.blue {
    display: inline-block;
}
/*--work-page---*/
.slider h3 {
    font-size: 50px;
    font-family: 'ProximaNovaA-Bold';
}

/*.slider h2 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'ProximaNovaA-Bold';
    line-height: 75px;
}
.slider h2 span{
color:#17aded;
}*/
.slider h6 {
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.slider.work-slider button.apply-btn{
font-family: 'ProximaNovaA-Regular';
font-size: 20px;
}
.how-it-work .row-work {
    background: url(../images/circle-dotted-new1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 200px;
    background-position: center top;
    text-align: center;
}
.how-it-work .works-cont {
    padding-top: 100px;
}
.how-it-work h3 {
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.how-it-work p {
    font-size: 14px;
    line-height: 23px;
    color: #666666;
    padding-top: 10px;
}
.how-it-work h2 {
    font-size: 50px;
    color: #17aded;
    text-align: center;
}
.how-it-work  p.wr-tp {
    font-size: 20px;
    color: #666666;
    text-align: center;
    padding-top: 10px;
}
.how-it-work {
    padding: 100px 0;
}
.how-it-work img {
    display: none;
}
.collegewrk-cont h2 {
    font-size: 40px;
    color: #333333;
}
.collegewrk-cont h4 {
    font-size: 17px;
    color: #333333;
    padding: 20px 0 25px;
  font-family: 'ProximaNova-Semibold';
}
.collegewrk-cont p {
    font-size: 16px;
    color: #666666;
    line-height: 34px;
}
.collegewrk-cont .in-clgwrk {
    background: #f8f8f8;
    padding: 100px 50px;
}
.our-plan h2 {
    font-size: 22px;
     font-family: 'ProximaNovaA-Bold';
     text-align: center;
     text-transform: uppercase;
}
.our-plan p.tp-plan {
    color: #666666;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}
.our-plan h4 {
    font-size: 20px;
    color: #323232;
    text-align: center;
    padding-bottom: 25px;
}
.our-plan h1 {
    font-size: 70px;
    font-family: 'ProximaNovaA-Bold';
    text-align: center;
}
.our-plan h1 span, .our-plan sup {
    font-size: 20px;
    font-family: 'ProximaNovaA-Regular';
}
.our-plan sup {
    top: -2em;
}
.our-plan p {
    line-height: 34px;
    color: #666666;
    font-size: 16px;
    text-align: center;
}
.our-plan .plan-col {
    border: 1px solid #f0f0f0;
    position: relative;
    padding-top: 53px;
    padding-bottom: 35px;
    margin-top: 50px;
}
.plan-col img {
    position: absolute;
    left: 50%;
    top: -54px;
    transform: translate(-50%, 0);
}
.plan-col a {
    display: block;
    color: #1ba4e0;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #1ba4e0;
    height: 50px;
    line-height: 50px;
    width: 180px;
    margin: 0 auto;
    margin-top: 45px;
    text-decoration: none;
}
.plan-col a:hover {
  background:#1ba4e0;
  color: #ffffff;
  }
.paln-text{
   border-top: 1px solid #f0f0f0;
   padding-top: 30px;
    margin-top: 20px;
}
.our-plan {
    padding: 100px 0;
}
.join-us {
    background: url("../images/join-us.jpg");
    padding: 140px 0;
}
.join-us h2 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.join-us p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    padding: 10px 0 50px;
}
.join-us a {
    display: block;
    background: #17aded;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}
.ask-question .Q-list li {
    width: 50%;
    float: left;
    margin-bottom: 45px;
    list-style: none;
    padding: 0 50px;
    position: relative;
}
.ask-question .Q-list li::before {
    position: absolute;
    content: "\f055";
    font-family: fontawesome;
    left: 20px;
    font-size: 20px;
    color: #a0a0a7;
}
.ask-question h2 {
    font-size: 50px;
    text-align: center;
    color: #17aded;
    padding-bottom: 10px;
}
.ask-question p.tp-ask {
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}
.ask-question .Q-list {
    margin-top: 50px;
}
.ask-question p.tp-ask::before {
    position: absolute;
    width: 60%;
    height: 1px;
    background: #eaeaea;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.ask-question .Q-list  h3 {
    font-size: 20px;
    color: #333333;
    padding-bottom: 15px;
}
.ask-question .Q-list  p {
    font-size: 15px;
    line-height: 30px;
    color: #666666;
}
.ask-question {
    padding: 100px 0 50px;
}
.newsletter .form-group input {
    height: 50px;
    width: 380px;
    background: #f4f4f4;
    border: none;
    padding: 0 20px;
    border-radius: 5px 0px 0px 5px;
    font-size: 17px;
    color: #cccccc;
}
.newsletter button.subscribe-btn {
    height: 50px;
    width: 160px;
    background: #17aded;
    border: none;
    vertical-align: top;
    font-size: 20px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.newsletter .form-group {
    margin-bottom: 15px;
    text-align: center;
}
.newsletter h2 {
    font-size: 50px;
    color: #17aded;
    text-align: center;
}

.newsletter  p {
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    padding: 30px 0 50px;
}
.newsletter {
    padding: 100px 0;
}
.newsletter  input::-webkit-input-placeholder{
    color: #cccccc;
}
.newsletter  input::-moz-placeholder {
      color: #cccccc;
}
.quote .fa {
    font-size: 60px;
    color: #e7e7e7;
}
.oth-inner:hover a {
    color: #f3731f;
}
/*---work-page----*/
#myModal .submit-button {
    text-align: center;
}
.form-group {
    clear: both!important;
    overflow: hidden;
}
.signup-popup .form-group input, .signup-popup .form-group select {
    height: 45px;
    border-radius: 7px;
    color: #8e8e8e;
    font-size: 15px;
    border: 1px solid #cccccc;
    white-space: inherit;
}
.signup-popup .form-group.radio-btn input {
  height: 22px;
}
.signup-popup label {
    margin-bottom: 8px;
    font-family: "ProximaNova-Semibold";
    font-size: 15px;
    color: #292929;
}
.signup-popup .radio-btn label {
  font-size: 19px;
  color: #999999;
  font-weight: 400;
  }
.signup-popup .modal-dialog {
    width: 750px !important;
    margin: 0 auto;
    margin-top: 30px;
}
.signup-popup form {
    padding: 0px 0;
    width: 500px;
    margin: 0 auto;
    display: block !important;
}
.signup-popup form.reserve-job{
  width: 100%;
  padding: 30px 0px;
}
.signup-popup button.smb-btn, .signup-popup button.next-btn {
    background: #12b6d9;
    width: 140px;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
}
ul.list-signup {
    display: block;
}
input[type=checkbox], input[type=radio] {
    margin: 3px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 4px;
    margin-top: 4px;
}
.signup-popup .modal-footer {
    text-align: center;
}

.signup-popup label.Agree-msg {
    font-size: 16px;
    color: #989898;
    font-weight: 400;
}
.signup-popup .modal-header {
    padding: 15px;
    border-bottom: none;
    background: #efefef;
}
.signup-popup .modal-content{
  border-radius: 0;
}
.signup-popup h4.modal-title {
    font-size: 30px;
    color: #333333;
}
.signup-popup button.close {
    background: #333;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -15px;
    right: -11px;
}
.form-group.red {clear:both;}
.signup-popup h3 {
    font-size: 30px;
    color: #12b6d9;
    margin-bottom: 25px;
    padding-top: 0px;
}
.signup-popup p {
    font-size: 16px;
    line-height: 22px;
    color: #989898;
    padding-bottom: 5px;
    padding-top:5px;
}
ul.list-signup li h5 {
    font-size: 15px;
    color: #333333;
    margin-bottom: 6px;
    padding: 0px;
}
input.che_sec {
    vertical-align: bottom;
    margin-right:4px;
}
ul.list-signup li h5 span {
    color: #12b6d9;
}
ul.list-signup h6 {
    font-size: 13px;
    color: #999999;
}
ul.list-signup li {
    /* display: flex; */
    width: 48%;
    border: 1px solid #ccc;
    padding: 0px;
    box-sizing: border-box;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    height: 80px;
    float: left;
    /* justify-content: center; */
    /* align-items: center; */
    list-style: none;
    /* transform: translateY(-50%); */
    /* position: absolute; */
    /* top: 50%; */
}
.signup-popup button.bck-btn {
    background: #cccccc;
    width: 140px;
    height: 50px;
    border: none;
    color: #333333;
    font-size: 22px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.signup-popup select.form-control, .pricing  select.form-control, .main-profile  select  {
    -webkit-appearance: none;
    -moz-appearance: none;
        background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 97% 53%;
}
.signup-popup  .form-group span {
    font-size: 17px;
    color: #333;
    margin-top: 14px;
    display: inline-block;
    /*margin-left: 5px;*/
}
.signup-popup  .modal-body h4 {
    font-size: 17px;
    color: #e05410;
    padding: 30px 0;
}
.signup-popup ul.nav.nav-tabs li a {
    font-size: 17px;
    color: #666666;
    padding:0;
}
.signup-popup ul.nav.nav-tabs li.active a {
    color: #12b6d9;
    font-weight: 700;
}
.signup-popup .nav-tabs {
    border-bottom: none;
}
.signup-popup .nav-tabs>li.active>a, .signup-popup .nav-tabs>li.active>a:focus, .signup-popup .nav-tabs>li.active>a:hover{
 border:none;
}
 .signup-popup .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
    padding:12px 15px;
    border-bottom: 1px solid #f3f3f3;
}
.signup-popup .nav-tabs>li {
    border-right:1px solid #ccc;
    padding: 0 15px;
}
.signup-popup  div#tab1default ul li a {
    color: #666666;
    font-size: 17px;
    text-decoration: none;
}
.signup-popup div#tab1default ul li {
    padding: 10px;
    border: 1px solid #ccc;
    width: 23.8%;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.signup-popup  div#tab2default ul li a {
    color: #666666;
    width: auto !important; 17px;
    text-decoration: none;
}
.signup-popup div#tab2default ul li {
    padding: 10px;
    border: 1px solid #ccc;
    width: 23.8%;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.signup-popup  div#tab3default ul li a {
    color: #666666;
    font-size: 17px;
    text-decoration: none;
}
.signup-popup div#tab3default ul li {
    padding: 10px;
    border: 1px solid #ccc;
    width: 23.8%;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.signup-popup .panel-default {
    border-color: #ddd;
    box-shadow: 0 4px 7px rgba(204, 204, 204, 0.4);
    border-radius: 7px;
}
.signup-popup .datepicker-inline {
    width: 100%;
}
.signup-popup .input-group {
    display: block;
}
.signup-popup .datepicker table {
    width: 100%;
    box-shadow: 0 0px 8px #ccc;
}
.signup-popup .reserve-job h5 {
    font-size: 23px;
    color: #12b6d9;
    padding-bottom: 30px;
    font-family: "ProximaNova-Semibold"
}

.reserve-job .res-dtl li {
    font-size: 17px;
    color: #666666;
    list-style: none;
    padding: 5px 0;
}
.reserve-job .res-dtl img {
    float: left;
    margin-right: 20px;
}
.reserve-job .resr-txt {
    overflow: hidden;
}
.reserve-job  .res-dtl {
  border: 1px solid #e4e4e4;
}
.signup-popup .reserve-job h6 {
    font-family: "ProximaNova-Semibold";
    font-size: 17px;
    color: #292929;
    padding: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.signup-popup .reserve-job ul{
  padding: 10px 20px;
  }

.signup-popup .modal-body .estim-left h4 {
    font-family: "ProximaNova-Semibold";
    font-size: 17px;
    color: #00a5d5;
    padding: 0;
    margin-bottom: 5px;
}
.signup-popup .modal-body .estim-right h4 {
    font-size: 17px;
    color: #1e1f20;
    font-family: "ProximaNova-Semibold";
    padding: 0;
}
.signup-popup .estim-right {
    float: right;
    vertical-align: top;
    display: inline-block;
}
.signup-popup .estim-left {
   vertical-align: top;
    display: inline-block;
}
.signup-popup .modal-body .estim-left h5, .signup-popup .modal-body .estim-right.nw-est h4  {
    font-size: 19px;
    color: #1a1a1a;
    font-family: "ProximaNova-Semibold";
    padding: 0;
   
}
.signup-popup .modal-body .estim-left.due-n h5, .signup-popup .modal-body .estim-right.due-right h4  {
   font-size: 18px;
    color: #1a1a1a;
    font-family: "ProximaNova-Semibold";
}
.reserve-job .res-dtl ul.addrs-lt.estmimate-price li:nth-child(odd) {
    background: #f7f7f7;
}
.reserve-job .res-dtl ul.addrs-lt{
  padding: 0;
  margin: 0;
}
.reserve-job .res-dtl ul.addrs-lt li {
  padding: 10px 20px;
}
.res-dtl.estimate-dv {
    margin-top: 20px;
}
button.ext-account {
    background: #12b6d9;
    color: #fff;
    font-size: 20px;
    padding: 10px 118px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 7px;
    font-weight: bold;
    
}
.signup-popup ul.paym-list li {
    font-size: 15px;
    color: #666666;
    list-style: none;
    padding: 5px 0;
}
 .signup-popup  ul.paym-list li img {
    margin-right: 10px;
}
.signup-popup .modal-body .cont-detail-form h4 {
    font-size: 23px;
    color: #12b6d9;
    font-family: "ProximaNova-Semibold";
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    padding: 10px 25px!important;
}
.signup-popup .cont-detail-form {
    background: #f7f7f7;
    padding: 10px 0;
    border: 1px solid #e4e4e4;
    float: left;
    width: 100%;
}
.signup-popup .cont-form-inner {
    padding: 5px;
    float: left;
    width: 100%;
}
.signup-popup .pay-agree{
  font-size: 16px;
  color: #292929;
}
.signup-popup .reserve-job input[type="checkbox"]{
  margin-right: 10px;
}
.cont-detail-form.payment-form {
    margin-top: 30px;
    margin-bottom: 15px;
}
.m-progress-bar {
    min-height: 1em;
    background: #1ba4e0;
    width: 5%;
}
button.btn.btn-default.cls-btn {
    width: 140px;
    height: 50px;
    font-size: 22px;
}
div#myModal a {
    font-weight: 700;
    font-size: 16px;
}
button.reset-btn {
    height: 50px;
    padding: 0 20px;
    background: #12b6d9;
    font-size: 20px;
    color: #ffff;
    border: none;
    border-radius: 5px;
}
/*--pricing-page--*/
.pricing h2 {
    text-align: center;
    color: #1aa4df;
    font-family: "ProximaNova-Semibold";
    font-size:40px;
}
.pricing p {
    text-align: center;
    color: #666666;
    font-size: 17px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.pricing {
    padding: 100px 0;
}
.pricing label {
    font-size: 17px;
    min-height: 50px;
    color: #292929;
}
.pricing  select.form-control {
    height: 50px;
    font-size: 15px;
    color: #8e8e8e;
}
.pricing  label span {
    font-weight: 400;
    color: #8e8e8e;
}
.pricing button.bk-btn {
    font-size: 17px;
    width: 320px;
    height: 50px;
    background: #1aa4df;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.pricing  h3 {
    font-size: 34px;
    color: #666666;
    text-align: center;
    margin: 35px 0 40px;
    display: block;
}
.pricing  h3 span {
  color: #1aa4df;
  font-family:"ProximaNova-Semibold";
  }
.pricing-component {
    background: #e4f0f6;
    padding: 100px 0;
}
.pricing-component h2 {
    font-size: 40px;
    text-align: center;
    font-family:"ProximaNova-Semibold";
    color: #333;
}
.pricing-component p.tp-pr {
    font-size: 17px;
    color: #333333;
    padding: 15px 0 25px;
    text-align: center;
}
.pricing-component h3 {
    font-size: 20px;
    color: #333;
    text-align: center;
}
.pricing-component p {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    padding-top: 20px;
}
.inner-prc-bx {
    text-align: center;
    background: #fff;
    min-height: 300px;
    padding: 50px 15px;
    position: relative;
}
.inner-prc-bx img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}
.forgot-pwd {
    text-align: right;
}
/*--pricing-page-end-*/
.dashboard-right {
    background: #e5f1f6;
    padding: 25px 30px;
    margin-bottom: 35px;
}
.main-profile .pro-head h3, .bank_account .pro-head h3,  .share_workers .pro-head h3{
    padding: 18px 15px;
    font-size: 20px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
}
.main-profile  .pro-heading, .bank_account .pro-heading, .share_workers .pro-heading{
    background: #fff;
    margin: 0;
}
.main-profile .user-info {
    background: #fff;
    margin: 0;
    margin-top: 15px;
    padding: 20px;
}
.main-profile .user-info h2 {
    font-size: 24px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
}
.main-profile .user-info p {
    font-size: 17px;
    color: #354052;
}
.main-profile .user-info h6 span {
    color: #333333;
    font-family: "ProximaNova-Semibold";
}
.main-profile .user-info h6 {
    font-size: 17px;
    margin-top: 20px;
    color: #354052;
}
.main-profile .user-about h4 {
    font-size: 20px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
}
.main-profile .user-about p {
    font-size: 17px;
    color: #666666;
    line-height: 23px;
    padding-top: 5px;
}
.main-profile .user-about {
    background: #fff;
    margin: 0;
    margin-top: 15px;
    padding: 15px 20px;
}
.main-profile a.updt-btn {
    display: inline-block;
    padding: 8px 15px;
    background: #1aa4df;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    font-family: "ProximaNova-Semibold";
}
.main-profile .about-tb h4, .university-info h4, .pers-info h4 {
    font-size: 22px;
    color: #3399cc;
    font-family: "ProximaNovaA-Bold";
    margin-bottom: 15px;
}
.main-profile .tp-rw-1 h5{
  font-size: 24px;
color: #3399cc;
font-family: "ProximaNova-Semibold";
text-transform: capitalize;
}
.main-profile .tp-rw-1 h6 {
    font-size: 17px;
    color: #292929;
    font-family: "ProximaNovaA-Bold";
    padding: 10px 0 10px;
}
.university-info label, .pers-info label, .add-acct label{
   font-size: 14px;
    color: #333333;
    font-family: "ProximaNovaA-Bold";
  }
.main-profile .tp-rw-1 p {
    font-size: 17px;
    line-height: 26px;
    color: #333333;
}
.main-profile .tp-rw-1 h5 img {
    margin-left: 60px;
}
.main-profile  .panel-heading {
    padding: 0px;
}
.main-profile  input, .main-profile  select, .add-acct input{
  height: 35px;
  color: #555555;
  font-size: 14px;
  border-radius:0px;
}
.main-profile input.form-control::placeholder,  .main-profile select::placeholder, .add-acct input::placeholder {
  color: #555555 !important;
  font-size: 14px !important;
}
.main-profile input.form-control:-ms-input-placeholder,  .main-profile select:-ms-input-placeholder, .add-acct input:-ms-input-placeholder {
  color: #555555 !important;
  font-size: 14px !important;
}
.main-profile input.form-control::-ms-input-placeholder,  .main-profile select::-ms-input-placeholder, .add-acct input::-ms-input-placeholder {
  color: #555555 !important;
  font-size: 14px !important;
}

/*.main-profile .tp-rw-1 input, .main-profile .tp-rw-1 text-area{
  margin-top:10px;
}*/
.main-profile input::-webkit-input-placeholder{
  color: #999999;
  font-size: 16px;
}
.main-profile input::-moz-placeholder{
  color: #999999;
  font-size: 16px;
}
.main-profile ul.nav-tabs li a {
    color: #333333;
    font-size: 17px;
    padding: 20px 0px;
    text-transform: uppercase;
    font-family: "ProximaNova-Semibold";
    border:none;
    border-left: 1px solid #e4e4e4;
    margin: 0;
}
.main-profile .nav-tabs>li.active>a, .main-profile .nav-tabs>li.active>a:focus, .main-profile .nav-tabs>li.active>a:hover{
background-color: #1aa4df;
border-radius: 0;
color: #ffffff;
border:none;
border-right: 1px solid #e4e4e4;
}
.main-profile .nav-tabs {
    border: none;
}
.lower-profile{
  margin-top: 40px;
}
.jb-prefrence{
  margin-top: 25px;
}
.dashboard-main .sidebar-left{
    background: #222d32;
}
.sidebar-left ul.nav.tabs li a {
    font-size: 14px;
    color: #fff;
    padding: 18px 40px;
    line-height: 20px;
}
.sidebar-left ul.nav.tabs li a i.fa{
    font-size: 17px;
    margin-right: 15px;
    line-height: 20px;
    float: left;
}
.sidebar-left ul.nav.tabs li:hover a {
   color: #fff;
    background: #1e282c;
}
nav.nav-sidebar ul.nav.tabs li.active a {
    color: #fff;
    background: #f17b30;
    border-left: 5px solid #f17b30;
    outline: none;
}
nav.nav-sidebar ul.nav.tabs li.active a {
    color: #fff;
    background: #f17b30;
    border-left: 5px solid #f17b30;
    outline: none;
}
.main-profile .tp-rw-1 p.dr-clr {
    color: #666;
    font-size: 14px;
    margin-bottom: 0px;
}
.main-profile .tp-rw-col1 {
    padding-top: 15px;
}
.main-profile .jb-prefrence .panel-body {
    padding: 0;

}
.main-profile .panel {
    background: transparent;
    border-width: 1px 0 0 0;
    box-shadow: none;
}
.main-profile .about-tb {
    background: #fff;
    padding: 30px 30px 50px 30px;
}
.main-profile .university-info, .main-profile .pers-info {
    background: #fff;
    padding: 30px;
    margin-top: 25px;
}

.main-profile .university-info .row {
    margin-top: 20px;
}
.main-profile .pers-info label.head-gen {
    display: block;
}
.main-profile .pers-info label.radio-inline input {
    height: auto;
}
.main-profile .pers-info label.radio-inline{
    color: #8e8e8e;
    font-size: 15px;
    font-weight: 400;
    font-family: "ProximaNovaA-Regular"
}
.main-profile .pers-info .form-group.refer-code input {
    width: 70%;
    display: inline-block;
    border-radius: 4px 0 0 4px; 
}
.main-profile .pers-info button.apl-btn {
    background: #3399cc;
    height: 35px;
    border: none;
    width: 30%;
    border-radius: 0px 4px 4px 0;
    font-size: 13px;
    color: #fff;
}
.dashboard-rw {
    display: flex;
    flex-wrap: wrap;
}
.bank_account.add-acct .form-group{
    min-height: 80px;
}
.bank_account .add-acct .form-group p {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 22px;
    padding-top: 10px;
}
.bank_account .processing-txt p {
   color: #8e8e8e;
    font-size: 15px;
    line-height: 22px;
    font-family: "ProximaNova-Semibold"
  }
  input#image {
    text-align: center!important;
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}
.bank_account .add-acct input[type="checkbox"]{
  height: unset;
}
.bank_account .add-acct button.bnk-btn, .bank_account  button.bnk-btn {
    background: #1aa3df;
    /*height: 50px;*/
    color: #fff;
    font-size: 20px;
    padding: 0 15px;
    border: none;
    margin-right: 15px;
}
.add-acct button.cancel-btn {
    background: #d8dcde;
    height: 50px;
    font-size: 20px;
    padding: 0 25px;
    border: none;
    color: #303030;
}
.add-acct .account-btn{
    margin-top: 50px;
}
.bank_account .add-acct {
    padding: 35px 30px;
    background: #ffffff;
    margin-top: 25px;
    display: inline-block;
}
.become-cont {
    background: #1aa3df;
    padding: 30px 20px;
    margin-top: 25px;
    min-height: 270px;
}
.become-cont h4 {
    font-size: 20px;
    color: #fefefe;
    font-family: "ProximaNova-Semibold"
}
.become-cont p {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}
.bank_account .bank-detail h3 {
    font-size: 20px;
    color: #3399cc;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}
.bank-detail p {
    font-size: 17px;
    color: #666;
    /*padding:0 15px;*/
}
.bank-detail {
    background: #ffffff;
    margin-top: 25px;
    padding: 30px;
}
.main-profile .perf-content .nav-tabs {
   border-bottom: 1px solid #ddd;
}
.main-profile .perf-content .nav-tabs>li.active>a, .main-profile .perf-content .nav-tabs>li.active>a:focus, .main-profile .perf-content .nav-tabs>li.active>a:hover{
  border: 1px solid #ddd;
}
.main-profile .perf-content ul.nav-tabs li a{
color: #333333;
    font-size: 16px;
    padding: 8px 30px;
    border-left: none;
    color: #3399cc;
}
.main-profile .perf-content .nav-tabs>li.active>a, .main-profile .perf-content .nav-tabs>li.active>a:focus, .main-profile .perf-content .nav-tabs>li.active>a:hover{
background: #ffffff;
border-bottom-color:transparent;
color: #333333;
border-radius: 4px 4px 0px 0px;
}
.panel.with-nav-tabs.perf-content {
    padding: 30px;
    background: #fff;
}
.perf-content  .travel-bonus h3 {
    font-size: 22px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
    padding: 30px 0 15px 0;
}
.perf-content  .travel-bonus p {
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    padding-bottom: 15px;
}
.perf-content  .travel-bonus  h4 {
    font-size: 22px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "ProximaNova-Semibold";
}
.perf-content  .travel-bonus button.sve-btn {
    background: #1aa4df;
    height: 35px;
    font-size: 17px;
    color: #fff;
    border: none;
    padding: 0 30px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "ProximaNova-Semibold"
}
.perf-content .travel-bonus button.sve-btn, .cont-btn button {
    background: #1aa4df;
    height: 35px;
    font-size: 17px;
    color: #fff;
    border: none;
    padding: 0 30px;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "ProximaNova-Semibold"
}
.event-box .btn-default.btn-on.active {
    background-color: #1aa4df;
    color: white;
    border-radius: 25px 0px 0px 25px;
}
.event-box .btn-default.btn-on, .event-box  .btn-default.btn-off {
  font-family: "ProximaNovaA-Regular";
  }
.event-box .btn-default.btn-on {
    border-radius: 25px 0px 0px 25px;
}
.event-box  .btn-default.btn-off.active{
  background-color: #1aa4df;
  color: white;
 }
 .event-box  .btn-default.btn-off{
  border-radius: 0px 25px 25px 0px;
 }
 .event-box input[type=file]:focus,   .event-box input[type=checkbox]:focus,  .event-box input[type=radio]:focus{
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}
 .event-box label.btn.btn-default.btn-on.btn-lg.active.focus, .event-box label.btn.btn-default.btn-off.btn-lg.active.focus{
  outline: unset;
}
 .event-box  input[type=radio]{
  height: unset;
 } 
.event-box div#status {
    float: right;
    vertical-align: top;
    display: inline-block;
}
.event-box h2.btnleft-head {
    display: inline-block;
    color: #3399cc;
    font-size: 22px;
    font-family: "ProximaNova-Semibold";
}
.event-box h6 {
    font-size: 17px;
    color: #333333;
    font-family: "ProximaNova-Semibold";
    padding: 20px 0;
}
.event-box label {
    font-size: 17px;
    /*color: #ffffff;*/
    font-family: "ProximaNova-Semibold";
}
.event-box {
    border: 1px solid #d4d4d4;
    background: #eff6f9;
    padding: 18px 20px;
    margin-top: 20px;
}
.event-box .btn-group-lg>.btn, .btn-lg {
    padding: 6px 12px;
    font-size: 16px;
    text-transform: uppercase;
}
.event-box label.radio-inline {
    font-size: 15px;
    color: #8e8e8e;
   font-family: "ProximaNovaA-Regular"
}
.event-box label.price-radio{
  display: block;
}
.travel-bonus {
    padding: 20px 0;
}

.event-box div#status.fl-width {
   float: left;
    margin-bottom: 15px;
}
span.tgl-btn {
    font-size: 16px;
    text-transform: capitalize;
    padding-top: 7px;
    display: inline-block;
    margin-left: 20px;
    font-family: "ProximaNova-Semibold";
}
table img {
    float: left;
    margin-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
table.table-striped td {
    padding: 5px 10px;
    font-size: 13px;
    color: #666666;
    text-transform: capitalize;
}
table.table-striped td.column1 {
    width: 200px;
}
table.table-striped a.view-table {
    display: block;
    width: 100px;
    border: 1px solid #cdcfd9;
    text-align: center;
    padding: 6px 2px;
    border-radius: 5px;
    color: #1aa3df;
    font-size: 13px;
    background: #f3f5f8;
    text-decoration: none;
    font-weight: 600;
}
table.table-striped tr.headings th {
    font-size: 14px;
    color: #444444;
    padding: 8px;
}
table.table-striped thead {
    background: #eeeeee;
    border: 1px solid rgba(204, 204, 204, 0.44)
}
/*table.table-striped td.column1 {
    font-size: 13px;
    color: #666666;
    font-family: "ProximaNova-Semibold";
}*/
table.table-striped {
    border: 1px solid #e4e4e4;
    background-color: #f6f6f6;
    width: 100%;
}
.pagination-list h4 {
    font-size: 14px;
    color: #333c48;
    font-family: "ProximaNova-Semibold";
}
.pagination-list ul.select-pages {
    margin: 0;
    padding: 10px 0;
    text-align: right;
}
.pagination-list ul.select-pages select {
    height: 25px;
    font-size: 14px;
    color: #354052;
    background: #f3f5f8;
    border-radius: 4px;
    padding: 0 10px;
    font-family: "ProximaNova-Semibold";
}
.pagination-list ul.select-pages label {
    font-size: 14px;
    color: #9fa9ba;
}
.pagination-list ul.pagination li a {
    font-size: 14px;
    color: #ced0da;
}
.pagination-list {
    background: #fff;
    margin: 0;
    margin-top: 25px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

.pagination-list .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 0;
    border-radius: 4px;
}
.pagination-list li.page-item.active a {
    background: transparent;
    border: 1px solid #dddddd;
    color: #000 !important;
    font-weight: 700;
}
.share_workers .paid-text h4 {
    font-size: 22px;
    color: #1aa4df;
    text-align: center;
    font-family: "ProximaNova-Semibold"
}
.share_workers .paid-text h6 {
    text-align: center;
    font-size: 22px;
    color: #4b4b4b;
    margin-top: 22px;
    margin-bottom: 10px;
     font-family: "ProximaNova-Semibold"
}
.share_workers .paid-text input {
    height: 50px;
    width: 40%;
    background: #e5f1f6;
    border: 1px solid #d0d0d0;
    border-radius: 25px 0 0 25px;
    vertical-align: top;
    padding: 0 15px;
    font-size: 18px;
}
.share_workers  .paid-text button {
    background: #1aa4df;
    height: 50px;
    width: 15%;
    border: 1px solid #d0d0d0;
    border-radius: 0 25px 25px 0;
    font-size: 20px;
    color: #ffffff;
}
.invite-box .paid-text .form-group {
    text-align: center;
}
.customer-price .panel-heading {
    background: #ffffff;
    padding: 0;
    border: none;
}
.customer-price .nav-tabs {
    border-bottom: none;
}
.customer-price .nav-tabs li {
  width: 50%;
  text-align: center;
}
.customer-price .nav-tabs>li a{
 font-size: 20px;
    color: #ffffff;
    border: none;
    font-family: "ProximaNova-Semibold";
    background-color: #1aa3dfad;
    border-radius: 0px;
    margin-right: 0px;
    padding:20px;
}
.customer-price .nav-tabs>li.active>a, .customer-price .nav-tabs>li.active>a:focus, .customer-price .nav-tabs>li.active>a:hover{
  border: none;
   background: #1aa3df;
   border-radius: 0;
   color: #ffffff;
   margin: 0;
}
.customer-price .panel-default {
    border-color: #ddd;
    border: none;
    box-shadow: none;
    background: #1aa3df;
}
.customer-price h4 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-family: "ProximaNovaA-Bold";
    margin-top: 50px;
}
.customer-price p.wrk-p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
.customer-price .share-online h2, .print-file h2 {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
     font-family: "ProximaNovaA-Bold";
}
.customer-price .share-online p, .customer-price .print-file p{
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 15px;
}
.customer-price .share-online h6{
  font-family: "ProximaNovaA-Bold";
  color: #8c3700;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}
.share-online input[type="email"] {
    height: 50px;
    padding: 0 15px;
    border: none;
    width: 70%;
    margin:0 auto;
}
.share-online button.send-btn {
    background: #f3721f;
    height: 50px;
    border: none;
    width: 30%;
    font-size: 16px;
    color: #ffffff;
    font-family: "ProximaNova-Semibold";
    margin-top: 20px;
}
.share-online form {
    padding-top: 20px;
    text-align: center;
}
.print-file button.card_btn, .print-file button.print-btn {
    background: #fff;
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    color: #2c2c2c;
    font-family: "ProximaNova-Semibold";
    width: 225px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.soc-links li a {
    font-size: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.soc-links {
    text-align: center;
}
.invite-box {
    background: #fff;
    margin-top: 25px;
    padding: 20px 25px;
}
.customer-price {
    margin-top: 40px;
}
.customer-price .panel-body {
    padding: 45px 30px;
}
.share-online {
    border-right: 1px solid #fff;
}


/*---responsive-design---*/
@media screen and (max-width: 1199px){
footer .copright-text li {
    border-right: none;
    text-align: center;
    display: block;
    padding: 0 0 5px 0;
} 
 footer .copright-text {
    padding-top: 0;
} 
footer .copyright-section p {
   overflow: hidden;
}
footer .copyright-section p br {
  display: none;
}
.slider h1 {
    font-size: 50px;
    line-height: 50px;
}
.slider p {
    font-size: 22px;
    padding-bottom: 30px;
}
}
@media screen and (max-width: 991px){
  .customer-price {
    margin-top: 20px;
}
 .invite-box {
    padding: 40px 25px;
}
 .travel-bonus {
    padding: 20px 0;
} 
  footer .site-links li .fa {
    font-size: 15px;
    margin-right: 5px;
}
footer h1 {
    font-size: 20px;
}
footer .footer-address {
    margin-top: 5px;
}
footer {
    padding-top: 50px;
}
footer .copright-text {
    padding-top: 20px;
    text-align: center;
}
footer .copyright-section {
    padding: 20px 0;
    margin-top: 10px;
}
footer h2 {
    font-size: 15px;
}
footer .site-links a, footer .footer-address li, footer .social-link a {
    font-size: 13px;
}

.top-header ul li a {
    font-size: 13px;
}
.slider h1 {
    font-size: 40px;
    line-height: 40px;
}
.slider p {
    font-size: 16px;
    padding-bottom: 20px;
}
.slider button.post-btn, .get-started button.post-btn {
    font-size: 17px;
    height: 40px;
    width: 150px;
}
.facebook_btn {padding:15px 165px;}
.slider button.apply-btn, .get-started button.apply-btn {
    height:40px;
    width: 150px;
    font-size: 17px;
}
.about, .howitwork, .testimonial, .other-info {
    padding: 40px 0;
}
.about h4 {
    font-size: 16px;
}
.about h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.about p {
    font-size: 15px;
    line-height: 25px;
    padding-top: 20px;
}
.about .guar-text p {
    font-size: 14px;
    line-height: 18px;
}
.about-btm {
    margin-top: 30px;
}
.services h2 , .howitwork h2, .about h2, .get-started h2, .contact-us h2{
    font-size: 35px;
}
.services p.tp-service, p.hiw-tp {
    font-size: 15px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.services .tab-left a {
    font-size: 16px;
    padding: 0 25px;
}
.services .tab-right p {
    font-size: 15px;
}
.work-inner h3 {
    font-size: 20px;
}
.work-inner p, .testimonial p, .contact-us p {
    font-size: 15px;
    line-height: 25px;
}
.get-started {
    padding: 80px 0;
}
.get-started p {
    font-size: 15px;
    line-height: 25px;
    padding: 20px 0;
}
.testimonial h1 {
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
}
.contact-us button {
    margin-top: 20px;
}
.contact-us p br{
  display: none;
}
.oth-inner {
    padding: 20px 10px;
}
.other-info .oth-text h4 {
    font-size: 13px;
}
.other-info .fa {
    font-size: 20px;
    margin-right: 10px;
}
.other-info .oth-text h5 {
    font-size: 12px;
}
footer .row.ft-tp-row {
    display: flex;
    flex-wrap: wrap;
}
header .navbar-default .navbar-nav>li>a {
    font-size: 15px;
}
.get-started p br {
    display: none;
}
.signup-popup h3 {
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.signup-popup label {
    font-size: 14px;
}
.signup-popup p {
    font-size: 14px;
    line-height: 18px;
}
.slider.work-slider h2 {
    font-size: 80px;
}
.slider.work-slider h3 {
    font-size: 30px;
}
.slider.work-slider h6 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.how-it-work h2, .ask-question h2, .join-us h2, .newsletter h2 {
    font-size: 40px;
}
.how-it-work p.wr-tp, .join-us p {
    font-size: 18px;
}
.how-it-work, .our-plan, .ask-question, .newsletter{
    padding: 50px 0;
}
.how-it-work .row-work {
    padding-top: 130px;
}
.how-it-work h3 {
    font-size: 18px;
    line-height: 22px;
}
.how-it-work .works-cont {
    padding-top: 50px;
}
.collegewrk-cont .in-clgwrk {
    padding: 30px;
}
.collegewrk-cont h2 {
    font-size: 30px;
}
.our-plan p.tp-plan {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 35px;
}
.join-us {
    padding: 100px 0;
}
.ask-question p.tp-ask {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 20px;
}
.ask-question .Q-list{
  margin-top: 30px;
}
.ask-question .Q-list li {
    padding: 0 30px;
    margin-bottom: 30px;
}
.ask-question .Q-list li::before {
    left: 5px;
}
.newsletter p {
    font-size: 15px;
    line-height: 25px;
    padding: 30px 0;
}
.signup-popup .cont-form-inner {
    padding: 20px 15px;
}
.signup-popup form.reserve-job {
    padding: 30px 0px;
}
.dashboard-rw {
    display: block;
}

}
.dropdown-menu {
    top: 38px;
}

@media screen and (max-width: 767px){
  .slick-slide img {
    display: block;
    object-fit: cover;
}
  .signup-popup .modal-dialog {
    width: 90% !important;max-width: 90%!important;}
 .tab-section ul li a, .tab-section ul li {
    width: 100%;
} 
a.google_plus_btn {
    padding: 11px 0px!important;
    width: 100%!important;
    display: block;
}
.facebook_btn {
    width: 100%!important;
    padding: 11px 0px!important;
    display: block;
}
.google_plus_btn_sec.other-class a.ext-account.google_btn.google_plus_btn {
    padding: 11px!important;
}
.empty_space {
    padding-top: 11px!important;
}
.signup-popup .form-group span {
    margin-top: 0px;
    margin-left: 5px;
}
.pagination-list {
    text-align: center;
}
.pagination-list ul.select-pages {
    padding: 10px 0;
    text-align: center;
}  
footer {
    padding-top: 20px;
}
footer h2 {
    margin-top: 20px;
    margin-bottom: 0px;
}
footer  ul.insta-images img {
    width: 100%;
}
footer .insta-images li {
    padding: 0 2px;
}
footer .copyright-section h2 {
    display: block;
    float: none;
    font-size: 20px;
    margin: 0 0 0 0;
    text-align: center;
}
footer .copyright-section p, footer .copright-text li {
    text-align: center;
    font-size: 12px;
}
footer .copright-text {
    padding-top: 10px;
    text-align: center;
}
.top-header .th-left, .top-header .th-right {
    text-align: center;
}
header .navbar-default .navbar-nav>li.apply-work>a {
    margin-left: 0;
}
header .nav>li {
    padding: 5px 10px;
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
header .navbar-toggle {
    background: #ff8638;
}
header  .navbar-default .navbar-toggle:focus, header  .navbar-default .navbar-toggle:hover {
    background-color: #ff8638;
}
header .navbar-default {
    margin: 0;
}
.slider .carousel-caption {
    right: unset;
    left: 0;
    top: 0;
    transform: unset;
    text-align: center;
    width: 100%;
}
header .navbar-brand>img {
    width: 250px;
}
.slider h1 {
    font-size: 30px;
    line-height: 30px;
}
.slider p {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.services .tab-left li.active::after {
    right: 0;
    border: none;
}
.services h2, .howitwork h2, .about h2, .get-started h2, .contact-us h2 {
    font-size: 25px;
}
.about, .howitwork, .testimonial, .other-info {
    padding: 20px 0;
}
.services .tab-left a {
    font-size: 15px;
}
.services .row {
    display: block;
}
.services .tab-right p {
    font-size: 13px;
    line-height: 23px;
    padding: 15px;
    position: relative;
}
.services .tab-left a {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}
.services .tab-left a img {
    width: 25px;
}
.about h4 {
    font-size: 14px;
}
.about p {
    font-size: 13px;
    line-height: 23px;
    padding-top: 13px;
}
.about .guar-text p{
  font-size: 13px;
}
.Guarantee-cont {
    padding: 10px 0;
}
.about-btm {
    margin-top: 15px;
    padding-top: 15px;
}
.about .guar-text h6 {
    font-size: 16px;
}
.services p.tp-service, p.hiw-tp, .work-inner p, .testimonial p, .contact-us p , .get-started p{
    font-size: 13px;
    padding-bottom: 23px;
}
.work-inner h3 {
    font-size: 17px;
    padding: 10px 0;
}
.testimonial h1 {
    font-size: 25px;
    padding-top: 15px;
}
.contact-us{
  padding: 50px 0;
}
.oth-inner {
    padding: 15px 10px;
}
.work-inner {
    text-align: center;
}

.testimonial .author-cont {
    margin-top: 15px;
}
.gaur-img img {
    width: 35px;
}
.signup-popup .modal-body {
    width: 100%;
}
.signup-popup .modal-dialog {
    width: 95%;
   
}
.signup-popup button.smb-btn, .signup-popup button.next-btn, .signup-popup button.bck-btn {
    width: 100px;
    font-size: 17px;
}
/*.signup-popup .modal-body {
    padding-bottom: 0;
}*/
.signup-popup button.smb-btn, .signup-popup button.next-btn {
    margin-top: 10px;
    margin-bottom: 20px;
}
.signup-popup h4.modal-title {
    font-size: 25px;
}
.slider.work-slider h2 {
    font-size: 50px;
    line-height: 40px;
}
.slider.work-slider h3 {
    font-size: 15px;
}
.slider.work-slider h6 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.slider.work-slider button.apply-btn {
    font-size: 15px;
}
.slider.work-slider button.apply-btn {
    font-size: 15px;
    width: 150px;
}
.slider.work-slider h2 {
    font-size: 30px;
    line-height: 40px;
}
.how-it-work .row-work {
    padding-top: 0;
    background: none;
}
.how-it-work img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.how-it-work .works-cont {
    padding-top: 20px;
    padding-bottom: 20px;
}
.how-it-work, .our-plan, .ask-question, .newsletter{
    padding: 30px 0;
}
.how-it-work h2, .ask-question h2, .join-us h2, .newsletter h2 {
    font-size: 30px;
}
.how-it-work p.wr-tp {
    font-size: 15px;
}
.collegewrk-cont p {
    font-size: 15px;
    line-height: 25px;
}
.collegewrk-cont .in-clgwrk {
    padding: 15px;
}
.our-plan h1 {
    font-size: 50px;
}
.our-plan p {
    line-height: 30px;
    font-size: 15px;
}
.plan-col a {
    margin-top: 20px;
}
.our-plan .plan-col {
    margin-top: 70px;
}
.ask-question .Q-list li {
   width: 100%;
}
.ask-question .Q-list li {
    margin-bottom: 20px;
}
.newsletter p br{
  display: none;
}
.newsletter p {
    padding: 15px 0;
}
.newsletter .form-group input {
    width: 70%;
    font-size: 13px;
}
.newsletter button.subscribe-btn {
    width: 30%;
    font-size: 15px;
}
.testimonial .ath-main {
    margin-top: 10px;
}
.ask-question p.tp-ask br{
  display: none;
}
.signup-popup form.reserve-job {
    width: 100%;
    padding: 30px 0px;
}
.signup-popup .reserve-job h5, .signup-popup .modal-body .cont-detail-form h4 {
    font-size: 18px;
    padding-bottom: 15px;
}
.signup-popup form.reserve-job {
    padding: 15px 0px;
}
.signup-popup .cont-form-inner {
    padding: 15px 0;
}
.signup-popup button.smb-btn, .signup-popup button.next-btn, .signup-popup button.bck-btn {
    font-size: 15px;
    margin: 0 !important;
}
button.ext-account {
    width: 100%;
    font-size: 17px;
    margin-top: 20px;
}
.signup-popup form {
    width: 100%;
}
.signup-popup div#tab1default ul li a {
    font-size: 14px;
}
button.reset-btn {
    padding: 0 10px;
    font-size: 15px;
}
.forgot-pwd {
    text-align: left;
    margin-bottom: 15px;
}
a.create-account-link {
    display: block;
    margin-top: 20px;
}
.dashboard-right {
    padding: 25px 15px;
}
.main-profile .user-about {
    padding: 30px 10px;
}
.main-profile .about-tb, .main-profile .university-info, .main-profile .pers-info {
    padding: 15px;
}

.bank_account .add-acct {
    padding: 20px 10px;
}
.bank_account .add-acct button.bnk-btn {
    margin-bottom: 10px;
}
.add-acct .account-btn {
    margin-top: 20px;
}
.event-box .btn-default.btn-on, .event-box .btn-default.btn-off {
    font-size: 10px;
}
.event-box h2.btnleft-head {
    font-size: 20px;
}
.event-box h6, .event-box label {
    font-size: 15px;
}
table.table-striped td {
    display: block;
    text-align: center;
    float: right;
    padding: 10px;
    width: 100% !important;
}
table.table-striped a.view-table {
    float: none;
    margin: 0 auto;
    margin-top: 30px;
}
table.table-striped td::before {
    content: attr(data-label);
    float: left;
    left: 0;
    color: #000000; 
    width: 100%;
    text-align: center;
    width: 100%;
    font-weight: 700;
}
table.table-striped thead {
  display: none;
}
table img {
    float: none;
}
.customer-price .nav-tabs>li a {
    font-size: 15px;
}
.customer-price .panel-body {
    padding: 15px;
}
.customer-price h4 {
    font-size: 20px;
    margin-top: 15px;
}
.customer-price p.wrk-p {
    font-size: 15px;
    margin-bottom: 20px;
}
.customer-price .share-online h2, .print-file h2 {
    font-size: 16px;
}
.print-file button.card_btn, .print-file button.print-btn {
    padding: 15px 0px;
    font-size: 15px;
    width: 100%;
}
.share_workers .paid-text button {
    width: 30%;
    font-size: 15px;
}
.share_workers .paid-text input {
    width: 60%;
}
.share_workers .paid-text h4 {
    font-size: 18px;
}
.share_workers .paid-text h6 {
    font-size: 17px; 
    margin-top: 10px;
}
.customer-price {
    margin-top: 10px;
}
}
@media screen and (max-width: 575px){
  
}
@media screen and (max-width: 480px){
.slider img {
    height: 235px !important;
    object-fit: cover;
}
.slider button.post-btn, .get-started button.post-btn, .slider button.apply-btn, .get-started button.apply-btn {
    font-size: 13px;
    height: 35px;
    width: 100px;
}
.contact-inner form {
    width: 100%;
}
header .navbar-brand>img {
    width: 200px;
    margin-top: 4px;
}
.slider .carousel-caption {
    padding: 15px 10px;
}
ul.list-signup li {
    width: 100%;
}
.signup-popup .nav-tabs>li {
    padding: 0 5px; 
}
.signup-popup div#tab1default ul li {
    width: 30.33%;
}
.signup-popup ul.nav.nav-tabs li a  {
    font-size: 15px;
}
.signup-popup p {
    font-size: 12px;
}
.signup-popup .modal-body .estim-right h4, .signup-popup .modal-body .estim-left h5, .signup-popup .modal-body .estim-right.nw-est h4 {
    font-size: 15px;
}
.signup-popup .reserve-job ul {
    padding: 10px 0px;
}
.main-profile .nav-tabs li {
    display: block;
    width: 100%;
}
.panel.with-nav-tabs.perf-content {
    padding: 10px;
}
.customer-price .nav-tabs li {
    width: 100%;
}
}

/* Cheshta */ 
.google_btn{
  background-color: #dd4b39 !important;
}
.facebook_btn{
  background-color: #2d4373 !important;
}
#forg_sec{
    margin-left: 0px !important;
}
.sing_text_sec {
    text-decoration: none !important;
}
.che_sec {
    height: 0 !important;
}
.checkbox.checkbox-toggle {
    display: inline-block;
    float: right;
}
.uprcls{
  text-transform: capitalize;
}
.payment_sec li{
float: left;
width: 50%;
}
.custdshbrd a {
    background: #3399cc;
    color: #fff;
    margin-right: 30px;
}
.custdshbrd a:hover, .custdshbrd a:active, .custdshbrd a:focus  {
    color: #fff;
}

/* -------------------------*/

.inner-prog1 {
    background: #009999;
    text-align: center;
}
.inner-prog2 {
    background: #c872ff;
    text-align: center;
}
.inner-prog3 {
    background: #ff6666;
    text-align: center;
}
.inner-prog1 h5, .inner-prog2 h5, .inner-prog3 h5 {
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    font-family: "ProximaNova-Semibold";
    padding: 50px 0;
}
.referral-program h4 {
    text-align: center;
    font-size: 20px;
    color: #333333;
    font-family: "ProximaNova-Semibold";
    margin-top: 20px;
}
.referral-program {
    background: #fff;
    margin: 0 -45px;
    margin-bottom: -45px;
    padding-top: 30px;
    margin-top: 60px;
}.referral-program h4 {
    text-align: center;
    font-size: 20px;
    color: #333333;
    font-family: "ProximaNova-Semibold";
    margin-top: 20px;
}
.referral-program {
    background: #fff;
    margin: 0 -45px;
    margin-bottom: -45px;
    padding-top: 30px;
    margin-top: 60px;
}
.help-content .search-frm input {
    width: 100%;
    border: none;
    height: 45px;
    padding: 0 15px;
    position: relative;
    font-size: 18px;
    color: #666666;
}
.help-content .search-frm {
    margin: 0;
    
}
.help-content i.fa.fa-search {
    float: right;
    font-size: 20px;
    padding-top: 12px;
    position: absolute;
    right: 13px;
  cursor: pointer;
}
.general-question h2 {
    text-align: center;
    font-size: 20px;
    color: #1aa3df;
    font-family: "ProximaNova-Semibold";
    margin-bottom: 30px;
}
.general-question a {
    font-size: 17px;
    color: #1c1b1b;
    text-decoration: none;
}
.general-question .panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
    padding: 15px;
    box-shadow: 0 0px 8px #ccc;
}
.general-question .panel.panel-default {
    margin-bottom: 10px;
}
.general-question {
    background: #ffffff;
    margin: 0;
    margin-top: 25px;
    padding: 50px 20px 25px 20px;
}
.general-question.job-poster {
    margin: 0;
    padding: 20px 20px 50px;
}
.general-question .fa {
    margin-right: 10px;
}
.cancel-btn {
    background: #1aa4df!important;
    height: none!important;
    font-size: 20px;
    padding: 7px 15px;
    border: none;
    color: #ffffff!important;
    font-weight:bold;
    border-radius: 5px;
}
.contact-us button {
     transition: .9s ease;
	-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
}
.contact-us button:hover {
    webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  
}      
.get-started button.apply-btn {
     transition: .9s ease;
	-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
}
.get-started button.apply-btn:hover {
      webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.slider button.apply-btn {
     transition: .9s ease;
	-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
}
.slider button.apply-btn:hover {
      webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.get-started button.post-btn {
     transition: .9s ease;
	-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
}
.get-started button.post-btn:hover {
    webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  
} 
a.blue_btn {
    transition: .9s ease;
	-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
}
a.blue_btn:hover {
    webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  
}      
.slider button.post-btn {
    transition: .9s ease;
	-webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
}
.slider button.post-btn:hover {
    webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  
}      
@-webkit-keyframes hvr-pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes hvr-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
  
a.one-link:hover {
    color: #1da1f2!important;
}
a.two-link:hover {
    color: #3b5998!important;
}
a.three-link:hover {
    color: #cd201f!important;
}
li.blog_blue3:hover {
    color: #007bb5!important;
}
a.five-link:hover {
    color: #f36d19!important;
}
a.six-link:hover {
    color: #f36d19!important;
}
header .navbar-default .navbar-nav>li>a.apply-work:hover {
    background-color: #f2701d;
    border-radius: 5px;
   color:#fff;
   font-size:17px;
}
header .navbar-default .navbar-nav>li>a.col-pri:hover {
     background-color: #f2701d;
    border-radius: 5px;
   color:#fff;
   font-size:17px;
}
footer .site-links a:hover {
    color: #f3731f;
}
footer .footer-address li:hover {
    color: #f3731f;
}
footer .social-link a:hover {
     color: #f3731f;
}
footer .copright-text li:last-child, footer .copright-text li a {
    padding-left: 5px!important;
}
.gray_box {
  transition:.7s ease;
}
.gray_box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 35px #ccc;
}
input[type="checkbox"] {
    vertical-align: text-top;
}
input.workertype {
    height: 15px!important;
    vertical-align: text-bottom;
    margin-right: 4px;
}
         
         
/************slider css***************/
/* fade slider */
.slides {
    height:900px!important;
    margin:0px auto;
    overflow:hidden;
    position:relative;
    /*width:900px;*/
}
.slides ul {
    list-style:none;
    position:relative;
}

/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-directio n: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 1 8.0s;
    -moz-animation-delay: 18.0s;
}
.slides ul li img {
    display:block;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.slides ul li div {
    /* background-color: #000000; */
    /* border-radius: 10px 10px 10px 10px; */
    /* box-shadow: 0 0 5px #FFFFFF inset; */
    color: #FFFFFF;
    font-size: 26px;
    left: 10%;
    /* text-align: center; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
.slider .carousel-caption h1 { font-size: 70px; font-family: 'ProximaNovaA-Bold'; line-height: 64px; /* max-width: 780px; */ margin: 0 auto; }
.slides ul li p {
    font-size: 28px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 40px;
}
.apply-btn {
     background: #1ba4e0;
    height: 50px;
    width: 190px;
    border-radius: 25px;
    border: none;
    font-size: 22px;
    color: #fff;
    font-family: 'ProximaNovaA-Bold';
}

.post-btn {
    background: #1ba4e0;
    height: 50px;
    width: 190px;
    border-radius: 25px;
    border: none;
    font-size: 22px;
    color: #fff;
    font-family: 'ProximaNovaA-Bold';
    font-size: 22px;
    color: #ff8638;
    border-radius: 25px;
    border: none;
    background: #fff;
    height: 50px;
    width: 190px;
    font-family: 'ProximaNovaA-Bold';
}
.customer-price .share-online {
    text-align: center;
}
ul.list-inline.soc-links {
    margin-top: 15px;
}
.main-profile .user-info img.img-responsive {
    border: 5px solid #b5e8fe;
    /* box-shadow: 0px 0px 20px #000000; */
    width: 110px;
    height: 110px;
    object-fit: cover;
}
button#send-btn_new {
    background: #f3721f;
    height: 50px;
    border: none;
    width: 30%;
    font-size: 16px;
    color: #ffffff;
    font-family: "ProximaNova-Semibold";
    margin-top: 20px;
}
.bank_account .add-acct button.bnk-btn, .bank_account button.bnk-btn {
    border: none;
    margin-right: 15px;
    display: inline-block;
    padding: 6px 12px;
    background: #1aa4df;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    height:none!important;
    font-weight: bold;
}
.custom-width {
    width: 50%;
}
.custom-width a {
    width: 100%;
}
.signup-popup .modal-body h4 {padding:0px!important;}
.row.dashboard-rw {
    display: flex;
    flex-wrap:wrap;
    min-height: 90vh;
}
.custom-padd {padding-left: 15px;padding-right: 0px;}
.signup-popup .pay-agree.Privacy_Policy {color:#12b6d9;font-size: 16px;
    color: #292929;}
/*.google_plus_btn {padding: 11px 167px!important;}*/
.Completed_Job {margin-right:10px;}
.facebook_btn_sec {margin-top: 12px!important;}
a.ext-account.facebook_btn {text-decoration: none;}
.facebook_btn_sec.one-of-thing {
    margin-top: 20px!important;
}
.facebook_btn_sec.one-of-thing .facebook_btn {
    background-color: #2d4373 !important;
    padding: 13px 160px 13px 160px;
  }
  .google_plus_btn_sec.other-class a.ext-account.google_btn.google_plus_btn {
    padding: 11px 172px;
}
a.ext-account.google_btn.google_plus_btn {
    padding: 10px 165px 10px 165px;
    background-color: rgb(234, 67, 53);
}
a:focus {color:#ffffff;}
@media screen and (max-width: 1024px) {
.text-right {text-align: left;}
.dashboardright {padding: 30px 0px!important;}
}
@media screen and (max-width: 767px) {
.signup-popup form {width: 100%;}
.signup-popup .modal-dialog {width: 90%!important;}
button.ext-account {padding: 10px 0px;width:100%;}
}

/*********16-0ct-2018***********/
.extre-class {
    padding: 0px!important;
}
.oth-inner:hover .extre-class {background-color: #f7f7f7!important;}
.extre-class:hover {background-color: #f7f7f7!important;}
.extre-class label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}
.oth-inner.other-icon {
    margin-top: 6px;
}
input.input-box {
    width: 80%!important;
    float: left;
    height: 40px;
    border-radius: 0px!important;
}
input.go-btn {
    display: inline-block!important;
    width: 15%!important;
    text-indent: 2%;
    height: 40px!important;
    padding: 0px!important;
    border-radius: 0px!important;
    clear: none;
}
#mc_embed_signup .button {
    background: #0eb0f7!important;
}
#mc_embed_signup .button:hover {  
    background: #f3721f!important;
}
div#mce-responses {
    padding: 0px!important;
    margin: 0px !important;
}
div#mce-error-response {
    padding: 0px!important;
    margin: 0px!important;
    width: 100%!important;
    font-size: 12px;
}
.review-item:hover {
    transform: scale(1.1);
    background-color: #808080;
    color: #fff;
}
.review-item {
    transition: 0.7s ease;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.user-info.custom-profile {
    padding: 25px 25px!important;
}
.form-group {overflow: hidden!important;}
.btn-default {
    color: #fff!important;
    background-color: #39c!important;
    border-color: #39c!important;
}
.btn-default:hover {
    color: #fff!important;
    background-color: #39c!important;
    border-color: #39c!important;
    box-shadow: 0px 0px 20px #ccc;
}
#profileimg {
    border: 5px solid #b5e8fe;
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 11px #000000;*/
    width: 110px;
    height: 110px;
    object-fit: cover;
}
button.sve-btn {
    font-size: 16px;
    /* height: 50px; */
    width: auto;
    background: #3399cc;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "ProximaNova-Semibold"
}
.user-info.custom-profile h3 {
    font-size: 20px;
    color: #333333;
    font-family: "ProximaNova-Semibold";
    margin-bottom: 10px;
}

/*************************22-JAN-2019***********************************/
@media screen and (max-width: 991px) {
.top-header ul li {padding: 0 2px;}
.top-header .th-left li img {margin-right: 1px;width: 14px;height: 11px;}
.top-header .th-right li .fa {margin-right: 2px;}
header .navbar-default .navbar-nav>li>a {margin: 0px;}
.nav>li>a {padding: 10px 5px;}
.navbar-brand>img {width: 70%;}
/*.iuk p {padding-bottom: 0px !important;}*/
.slick-slide img {height: 550px;}
}
@media screen and (max-width: 767px) {
   
    .perf-content .travel-bonus button.sve-btn, .cont-btn button {
    height: 35px;
    padding: 0 30px;}
.perf-content .travel-bonus button.sve-btn, .cont-btn button {
    height: 35px;
    padding: 0 30px;}
.navbar-brand {margin-left: 10px;}
/*.iuk p {padding-bottom: 0px !important;}*/
.slick-slide img {height: 480px;}
}
.mainhead {
    position: relative;
}
.slick-slide img {
    height: 570px;
}

.iuk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}
.slick-slide img {
    display: block;
    width: 100%;
}

.slick-next {
    display: none !important;
}
/**********24-Jan-2018*************/
.col-sm-3.logodiv {
    width: 20%;
}
div#nav-div1 {
    width: 20%;
}
.dashboard_rgtheader {
    width: 80%;
}
.form-control {
    height: 34px;
    font-size: 14px;
    color:#555;
    border-radius:none;
}
/********Universalclass***********/
.width80 {width:80%;}
/*.col1 {width:5%;word-break: break-all;}*/
.col2 {width:10%;word-break: break-all;}
.col3 {width:15%;word-break: break-all;}
.col4 {width:20%;word-break: break-all;}
.col5 {width:25%;word-break: break-all;}
.col6 {width:30%;word-break: break-all;}
.col7 {width:35%;word-break: break-all;}
.col8 {width:40%;word-break: break-all;}
.col9 {width:45%;word-break: break-all;}
.col10 {width:45%;word-break: break-all;}
/********Chat-box-css**********/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

/*.panel-body
{
    overflow-y: scroll;
    height: 250px;
}*/

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.worktabtab li {
    width: 33.33%;
}
.viewbbb {
    display: block;
    width: 100%;
    border: 1px solid #cdcfd9;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    color: #1aa3df;
    font-size: 13px;
    background: #f3f5f8;
    text-decoration: none;
    font-weight: 600;
}
.pagination li.active span {
    padding: 4px 12px;
    background-color: #26a9e2;
    border: 1px solid #26a9e2;
}
.pagination li {
    border: 1px solid #e5f1f6;
    float: left;
}
.pagination_section {text-align: right;}
.pagination>li>a, .pagination>li>span {padding:4px 12px !important;}


/**************************cunflication-check****************************************/
/*.nav-sidebar {
    margin-top: 30px;
}*/
.homedas h2 {
    font-size: 20px;
    color: #3399cc;
    font-family: "ProximaNova-Semibold";
    padding: 22px 0px;
    margin:0px;
}
.homedas p.welcome-text {
    font-size: 18px;
    font-family: "ProximaNova-Semibold";
    padding: 20px 0px;
    text-align: right;
    margin:0px;
}
.chat li .chat-body p {
    word-wrap: break-word;
}
/*ul.chat {
    max-height: 400px;
    overflow-y: scroll;
}*/
.table-error-mesg {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
}
.table-error-mesg p {
    font-size: 14px;
    color: red;
    font-family: "ProximaNova-Semibold";
    padding: 10px 15px;
    margin: 0px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    /*background-color: #222d32 !important;*/
    outline: none;
}
.support-chat {
    text-align: center;
    font-size: 16px;
    background-color: #3399cc;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    float: right;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}
.support-chat:hover, .support-chat:focus, .support-chat:active {color:#ffffff;}

.nav-sidebar>.nav>li>a:focus, .nav-sidebar>.nav>li>a:hover {
    background-color: #000 !important;
}
section.dashboard-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    z-index:99;
}
.workerjobhead {
    background: #fff;
    margin: 0;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-bottom: 20px;
}
.workerjobhead h1 {
    padding: 10px;
}
#save_info_work {
    background: #3399cc;
    padding: 6px 12px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #3399cc;
    color: #fff;
    float: right;
    margin-top: 20px;
}
.updt-btn {
    background: #3399cc;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #3399cc;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}

.customer-head {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px 15px;
}
.customer-head h1 {
    color: #3399cc !important;
    font-size:18px;
}
.start-chat:hover, .start-chat:active, .start-chat:focus {color: #fff;text-decoration:none;}
.model-bot {
    margin-bottom: 10px;
}
@media screen and (max-width:991px) {
    .start-chat {margin-top: 10px;}
}



.dropdown-toggle {
    text-transform: capitalize;
}
.captlize {text-transform: captlize;}
.dropdown-toggle {
    text-transform: capitalize;
    font-size: 16px;
    font-family: ProximaNova-semibold;
}
@media screen and (max-width: 1060px) and (min-width: 1025px) {
.card-body {min-height: 157px;}
}
[name="trmchk"] {
    margin-top: 0px !important;
}
@media screen and (max-width:425px) {
.signup-popup .form-group input, .signup-popup .form-group select {font-size: 13px;}
}
#mc_embed_signup .mc-field-group {padding-bottom:0px !important;}